In [98]:
import pandas as pd
import numpy as np

In [118]:
a = pd.read_csv('./data/PRODCL2.csv')
a

     제휴사  대분류코드  중분류코드    소분류코드    중분류명      소분류명  상품분류 소비재분류
0      A      1    101  A010101    일용잡화      위생세제  생활잡화   편의품
1      A      1    101  A010102    일용잡화       휴지류  생활잡화   편의품
2      A      1    101  A010103    일용잡화      뷰티상품  생활잡화   편의품
3      A      1    101  A010104    일용잡화      일용잡화  생활잡화   편의품
4      A      1    101  A010105    일용잡화      세트상품  생활잡화   편의품
...   ..    ...    ...      ...     ...       ...   ...   ...
4381   D      8    802  D080204  아이메이크업     아이섀도우   화장품   편의품
4382   D      8    802  D080205  아이메이크업    메이크업세트   화장품   편의품
4383   D      8    803  D080301   립메이크업  립스틱/립라이너   화장품   편의품
4384   D      8    803  D080302   립메이크업   립글로즈/틴트   화장품   편의품
4385   D      8    804  D080401  네일메이크업  일반네일/케어류   화장품   편의품

[4386 rows x 8 columns]

In [119]:
p = pd.read_csv('./data/1번군집.csv',encoding='cp949')
p

,고객번호,14K,2단우산,3단우산,3분요리류,4대 B/D,5 ON THE GO,ACC Bloom (1F),ACC Bloom (3F),AK골프,...,휴대폰기타용품,휴모니아,휴지류,휴지통,흑미,흑미류,흰다리새우,히터,히터기,힐앤토트
0,3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,12,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,28,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,33,0.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
4,43,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2566,19309,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2567,19320,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0,0.0
2568,19327,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2569,19332,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
2570,19333,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [120]:
b = p['고객번호']
b

0           3
1          12
2          28
3          33
4          43
        ...
2566    19309
2567    19320
2568    19327
2569    19332
2570    19333
Name: 고객번호, Length: 2571, dtype: int64

In [121]:
a_col = a.loc[a['소비재분류']=='편의품']['소분류명'].values
a_col.shape

(2887,)

In [122]:
p_col = np.array(p.columns.to_list()) 
p_col

array(['고객번호', '14K', '2단우산', ..., '히터', '히터기', '힐앤토트'], dtype='<U18')

In [123]:
ili = np.where(np.isin(p_col, a_col)==True)[0]
ili

array([   2,    3,    4, ..., 3515, 3516, 3517], dtype=int64)

In [124]:
p_col[ili]

array(['2단우산', '3단우산', '3분요리류', ..., '흑미', '흑미류', '흰다리새우'], dtype='<U18')

In [125]:
p = p[p_col[ili]]
p

,2단우산,3단우산,3분요리류,BB/파운데이션/컴팩트류,DIY소가구,DIY완구,DVD,Digital Accessory,FAST FOOD,GAP감귤,...,훼이셜스킨케어,훼이셜클렌저,훼이셜클린져,휴대폰기타용품,휴모니아,휴지류,휴지통,흑미,흑미류,흰다리새우
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
4,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2566,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2567,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0
2568,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2569,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
2570,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [126]:
p = pd.concat([b,p],axis=1)
p

,고객번호,2단우산,3단우산,3분요리류,BB/파운데이션/컴팩트류,DIY소가구,DIY완구,DVD,Digital Accessory,FAST FOOD,...,훼이셜스킨케어,훼이셜클렌저,훼이셜클린져,휴대폰기타용품,휴모니아,휴지류,휴지통,흑미,흑미류,흰다리새우
0,3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,12,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,28,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,33,0.0,0.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
4,43,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2566,19309,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2567,19320,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0
2568,19327,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2569,19332,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
2570,19333,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [127]:
# 코사인 유사도를 하기 위해서 전치 행렬을 구하는 단계 
p_T = p.transpose()
p_T.head(3)

,0,1,2,3,4,5,6,7,8,9,...,2561,2562,2563,2564,2565,2566,2567,2568,2569,2570
고객번호,3.0,12.0,28.0,33.0,43.0,55.0,57.0,64.0,71.0,98.0,...,19261.0,19263.0,19266.0,19284.0,19303.0,19309.0,19320.0,19327.0,19332.0,19333.0
2단우산,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3단우산,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [128]:
# 코사인 유사도를 구하는 코드 
from sklearn.metrics.pairwise import cosine_similarity

item_sim = cosine_similarity(p_T,p_T)
# 코사인 유사도 만든 행렬을 데이터프레임으로 변환 
item_sim_df = pd.DataFrame(data=item_sim, index = p.columns,
                          columns=p.columns)
print(item_sim_df.shape)
item_sim_df.head(3)

(2215, 2215)

,고객번호,2단우산,3단우산,3분요리류,BB/파운데이션/컴팩트류,DIY소가구,DIY완구,DVD,Digital Accessory,FAST FOOD,...,훼이셜스킨케어,훼이셜클렌저,훼이셜클린져,휴대폰기타용품,휴모니아,휴지류,휴지통,흑미,흑미류,흰다리새우
고객번호,1.000000,0.096245,0.135424,0.211868,0.087945,0.037016,0.049315,0.038669,0.02984,0.071948,...,0.211054,0.199462,0.036389,0.0,0.0,0.028821,0.193622,0.287328,0.206763,0.219328
2단우산,0.096245,1.000000,0.057061,0.008905,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,...,0.011237,0.028560,0.000000,0.0,0.0,0.000000,0.032125,0.064650,0.012708,0.002264
3단우산,0.135424,0.057061,1.000000,0.004287,0.014900,0.000000,0.000000,0.000000,0.00000,0.004823,...,0.017312,0.011000,0.000000,0.0,0.0,0.000000,0.049493,0.084512,0.003263,0.008721

In [129]:
# 예시적으로 기호품등급에 유사도가 높은 상위 6개 추출 
item_sim_df["2단우산"].sort_values(ascending=False)[1:6]

장우산     0.171782
파이      0.145041
상추      0.139398
냉동만두    0.138982
냉동부침    0.137322
Name: 2단우산, dtype: float64

In [130]:
# 코사인유사도 내적곱한값을 코사인 유사도 절대값의 합으로 나눈 거(정규화를위해서)
import numpy as np
def predict_p(p_arr, item_sim_arr):
    p_pred = p_arr.dot(item_sim_arr)/np.array([np.abs(item_sim_arr).sum(axis=1)])
    return p_pred

In [131]:
# 개인별 상품 예측 
p_pred = predict_p(p.values, item_sim_df.values)
p_pred_matrix = pd.DataFrame(data=p_pred, index = p.index,\
                            columns = p.columns)
p_pred_matrix

C:\Users\danie\AppData\Local\Temp/ipykernel_8564/674637514.py:4: RuntimeWarning: invalid value encountered in true_divide
  p_pred = p_arr.dot(item_sim_arr)/np.array([np.abs(item_sim_arr).sum(axis=1)])

,고객번호,2단우산,3단우산,3분요리류,BB/파운데이션/컴팩트류,DIY소가구,DIY완구,DVD,Digital Accessory,FAST FOOD,...,훼이셜스킨케어,훼이셜클렌저,훼이셜클린져,휴대폰기타용품,휴모니아,휴지류,휴지통,흑미,흑미류,흰다리새우
0,1.245057,1.433098,1.630595,0.291595,0.307205,0.142273,1.245179,0.120136,0.123516,0.192719,...,0.294136,0.301230,0.234156,NaN,NaN,0.186534,0.601265,1.655193,0.225453,0.246950
1,0.372632,0.292000,0.322081,0.367330,0.241039,0.325730,0.234269,0.233346,0.331307,0.290588,...,0.353271,0.344941,0.262214,NaN,NaN,0.908027,0.320712,0.267364,0.381890,0.379883
2,1.169165,0.897556,0.924263,1.427693,0.431330,0.980343,0.796929,1.068576,1.214529,1.076827,...,1.343705,1.340352,1.199411,NaN,NaN,0.503449,1.216644,0.909786,1.507264,1.401060
3,1.654173,1.304766,1.242404,2.174833,0.599104,1.298631,1.139671,1.495958,1.665988,1.546488,...,1.887128,1.822630,1.543150,NaN,NaN,0.379432,1.693803,1.266941,2.053981,1.939734
4,1.011158,0.791090,0.789203,1.182560,0.373933,0.862498,0.853704,0.944558,0.939720,0.889644,...,1.102730,1.079299,0.986070,NaN,NaN,0.244699,1.028543,0.796256,1.253518,1.147127
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2566,52.753775,37.078463,41.161790,24.911214,49.305880,23.899186,62.262550,20.777776,15.065155,35.984718,...,23.928274,25.418519,19.716483,NaN,NaN,70.682733,29.970613,42.253868,24.790977,22.263554
2567,51.366076,34.545952,38.445887,25.509566,48.690358,24.669734,59.584392,21.446796,15.931969,36.450204,...,24.528866,25.950586,20.340643,NaN,NaN,70.315320,29.922935,39.479724,25.693453,23.100398
2568,51.714861,35.704206,39.764896,24.496136,48.870678,23.684862,60.799358,20.524214,14.836963,35.715877,...,23.562197,25.038087,19.447937,NaN,NaN,70.540664,29.445054,40.890949,24.465835,21.947284
2569,53.360497,37.931121,42.093734,25.066931,49.736782,23.998461,63.318715,20.893941,15.172718,36.139617,...,24.119389,25.613232,19.916373,NaN,NaN,70.790881,30.280089,43.261667,24.938107,22.412000
2570,50.643718,33.966785,37.901899,24.463109,48.979645,23.944725,59.064198,20.808203,14.830585,35.954360,...,23.464779,24.911292,19.432080,NaN,NaN,73.417975,28.975660,38.901912,24.491902,21.886343

In [132]:
from sklearn.metrics import mean_squared_error

# mse =실제와 예측 점수차이 비교 
def get_mse(pred, actual):
    pred = pred[actual.nonzero()].flatten()
    actual = actual[actual.nonzero()].flatten()
    return mean_squared_error(pred,actual)

print('아이템 기반 모든 최근접 이웃 MSE:', get_mse(p_pred, p.values))

아이템 기반 모든 최근접 이웃 MSE: 496754.47776790784

In [133]:
def predict_p_topsim(p_arr, item_sim_arr, n =20):
    pred = np.zeros(p_arr.shape)
    
    for col in range(p_arr.shape[1]):
        top_n_items = [np.argsort(item_sim_arr[:,col])[:-n-1:-1]]
        for row in range(p_arr.shape[0]):
            pred[row, col] = item_sim_arr[col,:][top_n_items].dot(p_arr[row,:][top_n_items].T)
            
            pred[row, col] /= np.sum(np.abs(item_sim_arr[col,:][top_n_items]))
            
    return pred

In [134]:

p_pred = predict_p_topsim(p.values, item_sim_df.values, n=20)
print('아이템 기반 최근접 TOP-20 이웃 MSE:', get_mse(p_pred, p.values))

p_pred_matrix = pd.DataFrame(data=p_pred, index = p.index, columns=p.columns)

C:\Users\danie\AppData\Local\Temp/ipykernel_8564/4050495572.py:7: FutureWarning: Using a non-tuple sequence for multidimensional indexing is deprecated; use `arr[tuple(seq)]` instead of `arr[seq]`. In the future this will be interpreted as an array index, `arr[np.array(seq)]`, which will result either in an error or a different result.
  pred[row, col] = item_sim_arr[col,:][top_n_items].dot(p_arr[row,:][top_n_items].T)
C:\Users\danie\AppData\Local\Temp/ipykernel_8564/4050495572.py:9: FutureWarning: Using a non-tuple sequence for multidimensional indexing is deprecated; use `arr[tuple(seq)]` instead of `arr[seq]`. In the future this will be interpreted as an array index, `arr[np.array(seq)]`, which will result either in an error or a different result.
  pred[row, col] /= np.sum(np.abs(item_sim_arr[col,:][top_n_items]))
C:\Users\danie\AppData\Local\Temp/ipykernel_8564/4050495572.py:9: RuntimeWarning: invalid value encountered in double_scalars
  pred[row, col] /= np.sum(np.abs(item_sim_arr[col,:][top_n_items]))

아이템 기반 최근접 TOP-20 이웃 MSE: 493634.2604322872

In [135]:
p_pred_matrix

,고객번호,2단우산,3단우산,3분요리류,BB/파운데이션/컴팩트류,DIY소가구,DIY완구,DVD,Digital Accessory,FAST FOOD,...,훼이셜스킨케어,훼이셜클렌저,훼이셜클린져,휴대폰기타용품,휴모니아,휴지류,휴지통,흑미,흑미류,흰다리새우
0,3.428710,1.293211,1.143190,0.039831,0.00000,0.000000,1.158580,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,NaN,NaN,0.000000,0.113789,1.787788,0.000000,0.000000
1,1.689129,0.163877,0.477347,0.719738,0.00000,0.033054,0.000000,0.000000,0.068852,0.021513,...,0.501160,0.241911,0.029371,NaN,NaN,1.161900,0.746179,0.000000,0.475495,0.260639
2,8.493504,1.386716,3.709594,5.414269,0.00000,0.039506,0.000000,0.000000,0.047238,0.079637,...,1.523522,3.295322,0.209828,NaN,NaN,0.468344,3.033726,1.119035,5.732568,3.912013
3,7.369322,1.299843,1.312514,9.706345,0.00000,0.180635,0.179465,0.093250,0.000000,0.594433,...,3.959403,2.930087,0.400047,NaN,NaN,0.000000,3.274523,0.764254,5.027349,3.391149
4,5.578902,0.527912,0.921480,5.442902,0.00000,0.037234,0.000000,0.059497,0.000000,0.137228,...,1.105859,1.389047,0.061142,NaN,NaN,0.000000,5.499093,0.378495,4.341133,2.522836
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2566,1547.283321,5.555658,5.580503,0.556379,0.00000,0.000000,1.692098,0.000000,0.000000,0.023474,...,0.232437,0.211311,0.064150,NaN,NaN,0.000000,732.587396,2.501396,0.182413,0.000000
2567,1535.981534,0.765720,1.014352,5.001362,0.00000,0.261524,0.000000,0.217080,0.294663,0.053783,...,4.203704,2.895267,0.219949,NaN,NaN,0.000000,736.011863,0.347211,4.478817,4.611522
2568,1543.068556,5.995743,1.677879,0.000000,0.00000,0.000000,1.236442,0.000000,0.000000,0.000000,...,0.040388,0.000000,0.000000,NaN,NaN,0.000000,733.067223,1.312555,0.000000,0.000000
2569,1555.194722,11.203242,8.484839,0.454657,0.25096,0.000000,1.835914,0.089388,0.031030,0.000000,...,0.092061,0.082233,0.000000,NaN,NaN,0.000000,733.376422,5.122687,0.085627,0.000000
2570,1535.858456,0.557845,1.535192,0.872196,0.00000,0.000000,0.000000,0.000000,0.000000,0.109079,...,0.350327,0.043389,0.000000,NaN,NaN,1.936790,733.414523,0.000000,0.320849,0.000000

In [136]:
user_p_id =p.loc[3,:]
user_p_id[user_p_id > 0].sort_values(ascending=False)[:10]

페트소주     40.0
재사용봉투    38.0
냉장면류     35.0
고객번호     33.0
일반바나나    31.0
컵라면      30.0
막걸리      29.0
기타선식     29.0
커피음료     27.5
무우       27.0
Name: 3, dtype: float64

In [137]:

def get_notbuy_product(p,고객번호):
    user_p = p.loc[고객번호,:]

    already_buy = user_p[user_p > 0].index.tolist()

    p3_list = p.columns.tolist()

    notbuy_list = [pro for pro in p3_list if pro not in already_buy]
    
    return notbuy_list

In [138]:
def recomm_pr_by_userid(pred_df,고객번호, notbuy_list, top_n=20):
    recomm_pr = pred_df.loc[고객번호,notbuy_list].sort_values(ascending=False)[:top_n]
    return recomm_pr

notbuy_list = get_notbuy_product(p,3)

recomm_pr = recomm_pr_by_userid(p_pred_matrix, 3, notbuy_list, top_n=20)

recomm_pr = pd.DataFrame(data=recomm_pr.values, index = recomm_pr.index,
                            columns=['pred_score'])
recomm_pr

          pred_score
미국일반오렌지     9.180159
욕실화         8.427430
노지감귤        8.014083
찌개두부        7.908437
축산물통조림      7.888343
대상종가집콩나물    7.708795
슬라이스치즈      7.627169
남성내의        7.561645
필리핀파인애플     7.480682
과채혼합음료      7.360998
대상종가집두부     7.360208
후랑크소시지      7.342683
칠레청포도       7.309061
염색약         7.279703
일반물티슈       7.198284
케익          7.147077
살충제         7.098578
강정행사        7.060533
호주산곡물비육     7.056594
칫솔          7.023125

In [139]:
#응용구현 1 고객번호 검색
s = int(input('고객번호를 입력하세요:'))
notbuy_list = get_notbuy_product(p,s)
recomm_pr = recomm_pr_by_userid(p_pred_matrix,s, notbuy_list, top_n=20)
recomm_pr = pd.DataFrame(data=recomm_pr.values, index = recomm_pr.index,columns=['추천점수'])
recomm_pr[:10]

고객번호를 입력하세요:3

              추천점수
미국일반오렌지   9.180159
욕실화       8.427430
노지감귤      8.014083
찌개두부      7.908437
축산물통조림    7.888343
대상종가집콩나물  7.708795
슬라이스치즈    7.627169
남성내의      7.561645
필리핀파인애플   7.480682
과채혼합음료    7.360998

In [85]:
# 여기까지가 1번군집 일반추천

In [140]:
#응용구현 2 맞춤할인 검색
def recomm_pr_by_userid(pred_df,고객번호, notbuy_list, top_n=20):
    recomm_pr = pred_df.loc[고객번호,notbuy_list].sort_values(ascending=False)[:top_n]
    return recomm_pr

notbuy_list = get_notbuy_product(p,3)

recomm_pr = recomm_pr_by_userid(p_pred_matrix, 3, notbuy_list, top_n=20)

recomm_pr = pd.DataFrame(data=recomm_pr.values, index = recomm_pr.index,
                            columns=['pred_score'])
recomm_pr

          pred_score
미국일반오렌지     9.180159
욕실화         8.427430
노지감귤        8.014083
찌개두부        7.908437
축산물통조림      7.888343
대상종가집콩나물    7.708795
슬라이스치즈      7.627169
남성내의        7.561645
필리핀파인애플     7.480682
과채혼합음료      7.360998
대상종가집두부     7.360208
후랑크소시지      7.342683
칠레청포도       7.309061
염색약         7.279703
일반물티슈       7.198284
케익          7.147077
살충제         7.098578
강정행사        7.060533
호주산곡물비육     7.056594
칫솔          7.023125

In [142]:
p_T[['할인여부','할인율']]=0
sale=p_T.iloc[:,-2:]
sale.reset_index(inplace=True)

aa=sale.sample(frac=0.2)
aa['할인여부']=1

df=pd.merge(sale,aa, on='index',how='left')
df=df[['index','할인여부_y','할인율_y']]
df.fillna(0,inplace=True)

df.loc[df['할인여부_y']==1,'할인율_y']=np.random.randint(10,40,704).astype(str)
df.loc[df['할인여부_y']==1,'할인율_y']=df.loc[df['할인여부_y']==1,'할인율_y']+'%'
df[df['할인여부_y']==1]
df

ValueError: Must have equal len keys and value when setting with an iterable

In [ ]:
res=pd.merge(recomm_pr.reset_index(),df[df['할인여부_y']==1], on='index',how='left').dropna()
res.columns=['품목명','평가점수','할인여부','할인율']
res

In [ ]:
#응용구현 3 최근성 추가

def recomm_pr_by_userid(pred_df,고객번호, notbuy_list, top_n=20):
    recomm_pr = pred_df.loc[고객번호,notbuy_list].sort_values(ascending=False)[:top_n]
    return recomm_pr

notbuy_list = get_notbuy_product(p,19320)

recomm_pr = recomm_pr_by_userid(p_pred_matrix, 19320, notbuy_list, top_n=20)

recomm_pr = pd.DataFrame(data=recomm_pr.values, index = recomm_pr.index,columns=['pred_score'])
display(recomm_pr[:10])


re= pd.read_csv('./data/추천최근.csv',encoding='cp949')
df_cust=pd.read_csv('./data/PRODCL2.csv',encoding = 'utf8')
df_cust = df_cust[['소분류코드','소분류명']]
df_cust = df_cust.set_index('소분류코드')

def re_pro(num):
    li=re.loc[re['고객번호']==num,'소분류코드'].tolist()
    item_Id = np.random.choice(li)
    item = df_cust.loc[item_Id,'소분류명']
    item_se = item_sim_df[item].sort_values(ascending=False)[:10]
    recomm_pr = pd.DataFrame(data=item_se.values, index = item_se.index,columns=['추천점수'])
    display(recomm_pr)
    
re_pro(50)

In [ ]:
import numpy as np
import pandas as pd
from sklearn.metrics import mean_squared_error
# 확률적 경사하강법을 이용한 행렬 분해

#경사하강법 = '점진적으로'반복적인 계산을 통해 \파라미터 값을 업데이트하면서 오류값이 최소가 되는 \파라미터 구하는 방식
#' 데이러를 기반으로 알고리즘이 스스로학습한다',는 머신러닝의 개념을 가능하게해준 핵심기법

def get_rmse(R, P, Q, non_zeros):             # R= 실제행렬값   p,q = 분해된 행렬값(?)  # get_rms = 실제행렬과 예측 행렬의오차를구하는 함수
    error = 0
    # 두개의 분해된 행렬 P와 Q.T의 내적 곱으로 예측 R 행렬 생성
    full_pred_matrix = np.dot(P,Q.T)                                # P와 Q.T를 dot(내적) = 예측 R행렬 
    
    # 실제 R 행렬에서 NULL이 아닌 값의 위치 인덱스 추출하여 실제 R 행렬과 예측 행렬의 RMSE 추출
    x_non_zero_ind = [non_zero[0] for non_zero in non_zeros]   # ( non_zeros안에  non_zero를 0을 제외하고 반복적으로 수행)
    y_non_zero_ind = [non_zero[1] for non_zero in non_zeros]   #(non_zeros안에 non_zero를  0부터 추출한다(?))
    R_non_zeros = R[x_non_zero_ind, y_non_zero_ind]
    
    full_pred_matrix_non_zeros = full_pred_matrix[x_non_zero_ind,y_non_zero_ind] # 예측 R행렬 full_pred_matrix에 (x,y)을 넣고
     
    mse = mean_squared_error(R_non_zeros, full_pred_matrix_non_zeros) # mse = mse(실제행렬, 예측행렬)
    rmse = np.sqrt(mse)    # rmse 는 mse에 루트
    
    return rmse

In [ ]:
# 행렬 분해
# 책에서 이미 설정해놓은것  R  = 사용자-아이템 평점 행렬 k = 잠재요인  learning_rate=학습률 r_lambda = L2규제계수
# matrix_factorization = 행렬 분해 로직 

def matrix_factorization(R, K, steps=100, learning_rate=0.01, r_lambda=0.01):            
    num_users, num_items = R.shape                         # 사용자-아이템 평점 행렬의 컬럼이 num_users, num_items 다(?)
    np.random.seed(1)
    P = np.random.normal(scale=1./K, size = (num_users,K))   #P = 정규분포 (scale=1./K, size = (num_users,K)
    Q = np.random.normal(scale=1./K, size = (num_items,K))    #Q = 정규분포 (scale=1./K, size = (num_users,K)
    
    prev_rmse=10000                   # 설명을 할수가없다 (그냥 대입이라서)
    break_count = 0
    
    # R > 0인 행 위치, 열 위치, 값을 non_zeros 리스트 객체에 저장
    non_zeros = [(i,j,R[i,j]) for i in range(num_users) for j in range(num_items) if R[i,j] > 0]   # 
    
    # SGD 기법으로 P와 Q 매트릭스를 계속 업데이트   SGD(경사하강법)
    for step in range(steps):  # steps는 SGD의 반복횟수      
        for i, j, r in non_zeros:                                       # 
            # 실제 값과 예측 값의 차이인 오류 값 구함
            eij = r - np.dot(P[i,:],Q[j,:].T)
            # Regularization을 반영한 SGD 업데이트 공식 적용
            P[i,:] = P[i,:] + learning_rate*(eij * Q[j,:] - r_lambda*P[i,:])
            Q[j,:] = Q[j,:] + learning_rate*(eij * P[i,:] - r_lambda*Q[j,:])
            
        rmse = get_rmse(R,P,Q, non_zeros)
        if ( step % 10) == 0: # 10회 반복할 때마다 오류 값 출력
            print(f'iteration step: {step}, rmse: {rmse}')
    return P, Q

In [ ]:
p= pd.read_csv('./data/test21.csv',encoding='cp949')

p = p.set_index('고객번호')
p

In [ ]:
p1 = p.copy()
p1

In [ ]:
p.info()

In [ ]:
p.values

In [ ]:
p.count()

In [ ]:
p.dtypes

In [ ]:
p =p.replace([np.inf, -np.inf], 0)
p

In [ ]:
p= p.fillna(0)
p

In [ ]:
P, Q = matrix_factorization(p.values, K=50, steps=100, learning_rate=0.01,
                           r_lambda = 0.01)
pred_matrix = np.dot(P,Q.T)

In [ ]:
p_pred_matrix = pd.DataFrame(data=pred_matrix, index=pred_matrix.index,
                                  columns = pred_matrix.columns)
p_pred_matrix.head(3)

In [ ]:
notbuy_list = get_notbuy_product(p,9)

recomm_pr = recomm_pr_by_userid(p_pred_matrix, 9, notbuy_list, top_n=20)

recomm_pr = pd.DataFrame(data=recomm_pr.values, index = recomm_pr.index,
                            columns=['pred_score'])
recomm_pr