In [1]:
import pandas as pd
import numpy as np

In [11]:
a = pd.read_csv('./data/PRODCL2.csv')
a

     제휴사  대분류코드  중분류코드    소분류코드    중분류명      소분류명  상품분류 소비재분류
0      A      1    101  A010101    일용잡화      위생세제  생활잡화   편의품
1      A      1    101  A010102    일용잡화       휴지류  생활잡화   편의품
2      A      1    101  A010103    일용잡화      뷰티상품  생활잡화   편의품
3      A      1    101  A010104    일용잡화      일용잡화  생활잡화   편의품
4      A      1    101  A010105    일용잡화      세트상품  생활잡화   편의품
...   ..    ...    ...      ...     ...       ...   ...   ...
4381   D      8    802  D080204  아이메이크업     아이섀도우   화장품   편의품
4382   D      8    802  D080205  아이메이크업    메이크업세트   화장품   편의품
4383   D      8    803  D080301   립메이크업  립스틱/립라이너   화장품   편의품
4384   D      8    803  D080302   립메이크업   립글로즈/틴트   화장품   편의품
4385   D      8    804  D080401  네일메이크업  일반네일/케어류   화장품   편의품

[4386 rows x 8 columns]

In [12]:
p = pd.read_csv('./data/1번군집.csv',encoding='cp949')
p = p.set_index('고객번호')
p

,14K,2단우산,3단우산,3분요리류,4대 B/D,5 ON THE GO,ACC Bloom (1F),ACC Bloom (3F),AK골프,ANDZ,...,휴대폰기타용품,휴모니아,휴지류,휴지통,흑미,흑미류,흰다리새우,히터,히터기,힐앤토트
고객번호,,,,,,,,,,,,,,,,,,,,,
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
28,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
33,0.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
43,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19309,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
19320,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0,0.0
19327,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
19332,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
19333,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [6]:
#b = p['고객번호']
#b

KeyError: '고객번호'

In [14]:
a_col = a.loc[a['소비재분류']=='편의품']['소분류명'].values
a_col

array(['위생세제', '휴지류', '뷰티상품', ..., '립스틱/립라이너', '립글로즈/틴트', '일반네일/케어류'],
      dtype=object)

In [15]:
p_col = np.array(p.columns.to_list()) 
p_col

array(['14K', '2단우산', '3단우산', ..., '히터', '히터기', '힐앤토트'], dtype='<U18')

In [16]:
ili = np.where(np.isin(p_col, a_col)==True)[0]
ili

array([   1,    2,    3, ..., 3514, 3515, 3516], dtype=int64)

In [17]:
p_col[ili]

array(['2단우산', '3단우산', '3분요리류', ..., '흑미', '흑미류', '흰다리새우'], dtype='<U18')

In [18]:
p = p[p_col[ili]]
p

,2단우산,3단우산,3분요리류,BB/파운데이션/컴팩트류,DIY소가구,DIY완구,DVD,Digital Accessory,FAST FOOD,GAP감귤,...,훼이셜스킨케어,훼이셜클렌저,훼이셜클린져,휴대폰기타용품,휴모니아,휴지류,휴지통,흑미,흑미류,흰다리새우
고객번호,,,,,,,,,,,,,,,,,,,,,
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
28,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
33,0.0,0.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
43,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19309,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
19320,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0
19327,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
19332,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
19333,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [19]:
# p = pd.concat([b,p],axis=1)
# p

In [20]:
# 코사인 유사도를 하기 위해서 전치 행렬을 구하는 단계 
p_T = p.transpose()
p_T.head()

고객번호,3,12,28,33,43,55,57,64,71,98,...,19261,19263,19266,19284,19303,19309,19320,19327,19332,19333
2단우산,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3단우산,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3분요리류,0.0,0.0,0.0,4.0,1.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
BB/파운데이션/컴팩트류,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
DIY소가구,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [21]:
# 코사인 유사도를 구하는 코드 
from sklearn.metrics.pairwise import cosine_similarity

item_sim = cosine_similarity(p_T,p_T)
# 코사인 유사도 만든 행렬을 데이터프레임으로 변환 
item_sim_df = pd.DataFrame(data=item_sim, index = p.columns,
                          columns=p.columns)
print(item_sim_df.shape)
item_sim_df.head(3)

(2214, 2214)

,2단우산,3단우산,3분요리류,BB/파운데이션/컴팩트류,DIY소가구,DIY완구,DVD,Digital Accessory,FAST FOOD,GAP감귤,...,훼이셜스킨케어,훼이셜클렌저,훼이셜클린져,휴대폰기타용품,휴모니아,휴지류,휴지통,흑미,흑미류,흰다리새우
2단우산,1.000000,0.057061,0.008905,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.0,...,0.011237,0.028560,0.000000,0.0,0.0,0.0,0.032125,0.064650,0.012708,0.002264
3단우산,0.057061,1.000000,0.004287,0.014900,0.000000,0.0,0.000000,0.000000,0.004823,0.0,...,0.017312,0.011000,0.000000,0.0,0.0,0.0,0.049493,0.084512,0.003263,0.008721
3분요리류,0.008905,0.004287,1.000000,0.012498,0.004722,0.0,0.021061,0.029264,0.023706,0.0,...,0.217702,0.211362,0.027223,0.0,0.0,0.0,0.100085,0.018016,0.173392,0.158009

In [22]:
# 예시적으로 기호품등급에 유사도가 높은 상위 6개 추출 
item_sim_df["2단우산"].sort_values(ascending=False)[1:6]

장우산     0.171782
파이      0.145041
상추      0.139398
냉동만두    0.138982
냉동부침    0.137322
Name: 2단우산, dtype: float64

In [23]:
# 코사인유사도 내적곱한값을 코사인 유사도 절대값의 합으로 나눈 거(정규화를위해서)
import numpy as np
def predict_p(p_arr, item_sim_arr):
    p_pred = p_arr.dot(item_sim_arr)/np.array([np.abs(item_sim_arr).sum(axis=1)])
    return p_pred

In [24]:
# 개인별 상품 예측 
p_pred = predict_p(p.values, item_sim_df.values)
p_pred_matrix = pd.DataFrame(data=p_pred, index = p.index,\
                            columns = p.columns)
p_pred_matrix

C:\Users\dlwog\AppData\Local\Temp/ipykernel_3488/674637514.py:4: RuntimeWarning: invalid value encountered in true_divide
  p_pred = p_arr.dot(item_sim_arr)/np.array([np.abs(item_sim_arr).sum(axis=1)])

,2단우산,3단우산,3분요리류,BB/파운데이션/컴팩트류,DIY소가구,DIY완구,DVD,Digital Accessory,FAST FOOD,GAP감귤,...,훼이셜스킨케어,훼이셜클렌저,훼이셜클린져,휴대폰기타용품,휴모니아,휴지류,휴지통,흑미,흑미류,흰다리새우
고객번호,,,,,,,,,,,,,,,,,,,,,
3,1.430360,1.627923,0.288214,0.300447,0.138787,1.239818,0.117096,0.121333,0.187565,NaN,...,0.290890,0.297786,0.231409,NaN,NaN,0.176276,0.597697,1.652497,0.221977,0.243866
12,0.271542,0.299292,0.352806,0.211530,0.311487,0.198327,0.220926,0.322454,0.269092,NaN,...,0.339297,0.330067,0.250553,NaN,NaN,0.867588,0.303342,0.243841,0.367338,0.366866
28,0.850199,0.871428,1.394517,0.362148,0.947379,0.713831,1.040148,1.194205,1.027403,NaN,...,1.311722,1.306331,1.172786,NaN,NaN,0.403202,1.176810,0.855473,1.474081,1.371265
33,1.249383,1.180432,2.136346,0.517795,1.259956,1.042347,1.462704,1.642213,1.488747,NaN,...,1.849799,1.782843,1.511899,NaN,NaN,0.260504,1.647243,1.203319,2.015220,1.904941
43,0.717336,0.706833,1.130349,0.266965,0.811091,0.724958,0.900166,0.907806,0.812339,NaN,...,1.052462,1.025802,0.944331,NaN,NaN,0.088822,0.966120,0.711642,1.201229,1.100244
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19309,3.403612,3.562495,0.834120,0.974542,0.372003,3.469028,0.418065,0.425631,0.603831,NaN,...,0.790093,0.809928,0.553449,NaN,NaN,0.543872,1.297713,3.626133,0.636842,0.659045
19320,0.847455,0.819827,1.419485,0.329871,1.130071,0.749087,1.076180,1.284756,1.049978,NaN,...,1.378208,1.328636,1.167301,NaN,NaN,0.135015,1.233604,0.824373,1.526671,1.484504
19327,1.995501,2.127750,0.396049,0.493077,0.135458,1.946380,0.145235,0.183609,0.301452,NaN,...,0.401980,0.406040,0.266754,NaN,NaN,0.335661,0.744602,2.224393,0.288748,0.322257
19332,4.217571,4.451376,0.961314,1.348807,0.443339,4.458160,0.510075,0.515824,0.716791,NaN,...,0.953843,0.975538,0.730688,NaN,NaN,0.568561,1.573443,4.589840,0.755349,0.781893
19333,0.244561,0.249409,0.355491,0.587261,0.388318,0.187592,0.423191,0.172673,0.529359,NaN,...,0.297247,0.271426,0.244921,NaN,NaN,3.201587,0.265586,0.219338,0.307332,0.254526

In [25]:
from sklearn.metrics import mean_squared_error

# mse =실제와 예측 점수차이 비교 
def get_mse(pred, actual):
    pred = pred[actual.nonzero()].flatten()
    actual = actual[actual.nonzero()].flatten()
    return mean_squared_error(pred,actual)

print('아이템 기반 모든 최근접 이웃 MSE:', get_mse(p_pred, p.values))

아이템 기반 모든 최근접 이웃 MSE: 177.55498340380146

In [27]:
def predict_p_topsim(p_arr, item_sim_arr, n =20):
    pred = np.zeros(p_arr.shape)
    
    for col in range(p_arr.shape[1]):
        top_n_items = [np.argsort(item_sim_arr[:,col])[:-n-1:-1]]
        for row in range(p_arr.shape[0]):
            pred[row, col] = item_sim_arr[col,:][top_n_items].dot(p_arr[row,:][top_n_items].T)
            
            pred[row, col] /= np.sum(np.abs(item_sim_arr[col,:][top_n_items]))
            
    return pred

In [28]:

p_pred = predict_p_topsim(p.values, item_sim_df.values, n=20)
print('아이템 기반 최근접 TOP-20 이웃 MSE:', get_mse(p_pred, p.values))

p_pred_matrix = pd.DataFrame(data=p_pred, index = p.index, columns=p.columns)

C:\Users\dlwog\AppData\Local\Temp/ipykernel_3488/4050495572.py:7: FutureWarning: Using a non-tuple sequence for multidimensional indexing is deprecated; use `arr[tuple(seq)]` instead of `arr[seq]`. In the future this will be interpreted as an array index, `arr[np.array(seq)]`, which will result either in an error or a different result.
  pred[row, col] = item_sim_arr[col,:][top_n_items].dot(p_arr[row,:][top_n_items].T)
C:\Users\dlwog\AppData\Local\Temp/ipykernel_3488/4050495572.py:9: FutureWarning: Using a non-tuple sequence for multidimensional indexing is deprecated; use `arr[tuple(seq)]` instead of `arr[seq]`. In the future this will be interpreted as an array index, `arr[np.array(seq)]`, which will result either in an error or a different result.
  pred[row, col] /= np.sum(np.abs(item_sim_arr[col,:][top_n_items]))
C:\Users\dlwog\AppData\Local\Temp/ipykernel_3488/4050495572.py:9: RuntimeWarning: invalid value encountered in double_scalars
  pred[row, col] /= np.sum(np.abs(item_sim_arr[col,:][top_n_items]))

아이템 기반 최근접 TOP-20 이웃 MSE: 142.35721165952552

In [20]:
p_pred_matrix

,2단우산,3단우산,3분요리류,BB/파운데이션/컴팩트류,DIY소가구,DIY완구,DVD,Digital Accessory,FAST FOOD,GAP감귤,...,훼이셜스킨케어,훼이셜클렌저,훼이셜클린져,휴대폰기타용품,휴모니아,휴지류,휴지통,흑미,흑미류,흰다리새우
고객번호,,,,,,,,,,,,,,,,,,,,,
3,1.293211,1.143190,0.039831,0.00000,0.000000,1.158580,0.000000,0.000000,0.000000,NaN,...,0.000000,0.000000,0.000000,NaN,NaN,0.000000,0.000000,1.787788,0.000000,0.000000
12,0.163877,0.477347,0.719738,0.00000,0.033054,0.000000,0.000000,0.068852,0.021513,NaN,...,0.501160,0.241911,0.029371,NaN,NaN,1.161900,0.291073,0.000000,0.475495,0.260639
28,1.386716,3.709594,5.414269,0.00000,0.039506,0.000000,0.000000,0.047238,0.079637,NaN,...,1.523522,3.295322,0.209828,NaN,NaN,0.468344,1.972037,1.119035,5.732568,3.912013
33,1.299843,1.312514,9.706345,0.00000,0.180635,0.179465,0.093250,0.000000,0.594433,NaN,...,3.959403,2.930087,0.400047,NaN,NaN,0.000000,2.325298,0.764254,5.027349,3.391149
43,0.527912,0.921480,5.442902,0.00000,0.037234,0.000000,0.059497,0.000000,0.137228,NaN,...,1.105859,1.389047,0.061142,NaN,NaN,0.000000,3.906549,0.378495,4.341133,2.522836
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19309,5.555658,5.580503,0.556379,0.00000,0.000000,1.692098,0.000000,0.000000,0.023474,NaN,...,0.232437,0.211311,0.064150,NaN,NaN,0.000000,0.240705,2.501396,0.182413,0.000000
19320,0.765720,1.014352,5.001362,0.00000,0.261524,0.000000,0.217080,0.294663,0.053783,NaN,...,4.203704,2.895267,0.219949,NaN,NaN,0.000000,3.437282,0.347211,4.478817,4.611522
19327,5.995743,1.677879,0.000000,0.00000,0.000000,1.236442,0.000000,0.000000,0.000000,NaN,...,0.040388,0.000000,0.000000,NaN,NaN,0.000000,0.000000,1.312555,0.000000,0.000000
19332,11.203242,8.484839,0.454657,0.25096,0.000000,1.835914,0.089388,0.031030,0.000000,NaN,...,0.092061,0.082233,0.000000,NaN,NaN,0.000000,0.119571,5.122687,0.085627,0.000000
19333,0.557845,1.535192,0.872196,0.00000,0.000000,0.000000,0.000000,0.000000,0.109079,NaN,...,0.350327,0.043389,0.000000,NaN,NaN,1.936790,0.119743,0.000000,0.320849,0.000000

In [29]:
user_p_id =p.loc[12,:]
user_p_id[user_p_id > 0].sort_values(ascending=False)[:10]

생수        70.0
닭부분육      36.0
녹차        23.0
청과        19.0
유기농채소     18.0
일반빵       16.0
노지감귤      15.0
채소        12.0
수입유지      10.0
고당도바나나     9.0
Name: 12, dtype: float64

In [30]:

def get_notbuy_product(p,고객번호):
    user_p = p.loc[고객번호,:]

    already_buy = user_p[user_p > 0].index.tolist()

    p3_list = p.columns.tolist()

    notbuy_list = [pro for pro in p3_list if pro not in already_buy]
    
    return notbuy_list

In [31]:
def recomm_pr_by_userid(pred_df,고객번호, notbuy_list, top_n=20):
    recomm_pr = pred_df.loc[고객번호,notbuy_list].sort_values(ascending=False)[:top_n]
    return recomm_pr

notbuy_list = get_notbuy_product(p,12)

recomm_pr = recomm_pr_by_userid(p_pred_matrix, 12, notbuy_list, top_n=20)

recomm_pr = pd.DataFrame(data=recomm_pr.values, index = recomm_pr.index,
                            columns=['pred_score'])
recomm_pr

         pred_score
탄산수        4.200725
즉석절임반찬     3.562019
영양바        3.458373
젓갈         3.395932
얼음         3.295191
머스크메론      3.256014
칵테일소주      3.242231
일반차음료      3.076497
계육         2.963562
건과         2.937532
일반소주       2.897012
커피음료       2.810372
우육         2.771545
친환경올가      2.699907
요리용치즈      2.608660
주방잡화       2.480304
PB사과       2.437447
수입주방       2.414426
즉석구이김류     2.356624
기타축산통조림    2.317973

In [32]:
recomm_pr["대분류"] = '편의품'
recomm_pr

         pred_score  대분류
탄산수        4.200725  편의품
즉석절임반찬     3.562019  편의품
영양바        3.458373  편의품
젓갈         3.395932  편의품
얼음         3.295191  편의품
머스크메론      3.256014  편의품
칵테일소주      3.242231  편의품
일반차음료      3.076497  편의품
계육         2.963562  편의품
건과         2.937532  편의품
일반소주       2.897012  편의품
커피음료       2.810372  편의품
우육         2.771545  편의품
친환경올가      2.699907  편의품
요리용치즈      2.608660  편의품
주방잡화       2.480304  편의품
PB사과       2.437447  편의품
수입주방       2.414426  편의품
즉석구이김류     2.356624  편의품
기타축산통조림    2.317973  편의품

In [33]:
#응용구현 1 고객번호 검색
s = int(input('고객번호를 입력하세요:'))
notbuy_list = get_notbuy_product(p,s)
recomm_pr = recomm_pr_by_userid(p_pred_matrix,s, notbuy_list, top_n=20)
recomm_pr = pd.DataFrame(data=recomm_pr.values, index = recomm_pr.index,columns=['추천점수'])
recomm_pr[:10]

고객번호를 입력하세요:12

            추천점수
탄산수     4.200725
즉석절임반찬  3.562019
영양바     3.458373
젓갈      3.395932
얼음      3.295191
머스크메론   3.256014
칵테일소주   3.242231
일반차음료   3.076497
계육      2.963562
건과      2.937532

In [85]:
# 여기까지가 1번군집 일반추천

In [34]:
#응용구현 2 맞춤할인 검색
def recomm_pr_by_userid(pred_df,고객번호, notbuy_list, top_n=20):
    recomm_pr = pred_df.loc[고객번호,notbuy_list].sort_values(ascending=False)[:top_n]
    return recomm_pr

notbuy_list = get_notbuy_product(p,12)

recomm_pr = recomm_pr_by_userid(p_pred_matrix, 12, notbuy_list, top_n=20)

recomm_pr = pd.DataFrame(data=recomm_pr.values, index = recomm_pr.index,
                            columns=['pred_score'])
recomm_pr

         pred_score
탄산수        4.200725
즉석절임반찬     3.562019
영양바        3.458373
젓갈         3.395932
얼음         3.295191
머스크메론      3.256014
칵테일소주      3.242231
일반차음료      3.076497
계육         2.963562
건과         2.937532
일반소주       2.897012
커피음료       2.810372
우육         2.771545
친환경올가      2.699907
요리용치즈      2.608660
주방잡화       2.480304
PB사과       2.437447
수입주방       2.414426
즉석구이김류     2.356624
기타축산통조림    2.317973

In [35]:
p_T[['할인여부','할인율']]=0
sale=p_T.iloc[:,-2:]
sale.reset_index(inplace=True)
# p_T
aa=sale.sample(frac=0.2)
aa['할인여부']=1

df=pd.merge(sale,aa, on='index',how='left')
df=df[['index','할인여부_y','할인율_y']]
df.fillna(0,inplace=True)
# df['할인여부_y'].sum()
df.loc[df['할인여부_y']==1,'할인율_y']=np.random.randint(10,40,443).astype(str)
df.loc[df['할인여부_y']==1,'할인율_y']=df.loc[df['할인여부_y']==1,'할인율_y']+'%'
df[df['할인여부_y']==1]
df

고객번호          index  할인여부_y 할인율_y
0              2단우산     0.0   0.0
1              3단우산     1.0   18%
2             3분요리류     0.0   0.0
3     BB/파운데이션/컴팩트류     1.0   34%
4            DIY소가구     0.0   0.0
...             ...     ...   ...
2209            휴지류     0.0   0.0
2210            휴지통     0.0   0.0
2211             흑미     0.0   0.0
2212            흑미류     0.0   0.0
2213          흰다리새우     0.0   0.0

[2214 rows x 3 columns]

In [36]:
res=pd.merge(recomm_pr.reset_index(),df[df['할인여부_y']==1], on='index',how='left').dropna()
res.columns=['품목명','평가점수','할인여부','할인율']
res

        품목명      평가점수  할인여부  할인율
3        젓갈  3.395932   1.0  31%
16     PB사과  2.437447   1.0  19%
19  기타축산통조림  2.317973   1.0  16%

In [41]:
res['대분류'] = '편의품'
res

TypeError: 'str' object does not support item assignment

In [ ]:
#응용구현 3 최근성 추가

def recomm_pr_by_userid(pred_df,고객번호, notbuy_list, top_n=20):
    recomm_pr = pred_df.loc[고객번호,notbuy_list].sort_values(ascending=False)[:top_n]
    return recomm_pr

notbuy_list = get_notbuy_product(p,19320)

recomm_pr = recomm_pr_by_userid(p_pred_matrix, 19320, notbuy_list, top_n=20)

recomm_pr = pd.DataFrame(data=recomm_pr.values, index = recomm_pr.index,columns=['pred_score'])
display(recomm_pr[:10])


re= pd.read_csv('./data/추천최근.csv',encoding='cp949')
df_cust=pd.read_csv('./data/PRODCL2.csv',encoding = 'utf8')
df_cust = df_cust[['소분류코드','소분류명']]
df_cust = df_cust.set_index('소분류코드')

def re_pro(num):
    li=re.loc[re['고객번호']==num,'소분류코드'].tolist()
    item_Id = np.random.choice(li)
    item = df_cust.loc[item_Id,'소분류명']
    item_se = item_sim_df[item].sort_values(ascending=False)[:10]
    recomm_pr = pd.DataFrame(data=item_se.values, index = item_se.index,columns=['추천점수'])
    display(recomm_pr)
    
re_pro(50)

In [ ]:
import numpy as np
import pandas as pd
from sklearn.metrics import mean_squared_error
# 확률적 경사하강법을 이용한 행렬 분해

#경사하강법 = '점진적으로'반복적인 계산을 통해 \파라미터 값을 업데이트하면서 오류값이 최소가 되는 \파라미터 구하는 방식
#' 데이러를 기반으로 알고리즘이 스스로학습한다',는 머신러닝의 개념을 가능하게해준 핵심기법

def get_rmse(R, P, Q, non_zeros):             # R= 실제행렬값   p,q = 분해된 행렬값(?)  # get_rms = 실제행렬과 예측 행렬의오차를구하는 함수
    error = 0
    # 두개의 분해된 행렬 P와 Q.T의 내적 곱으로 예측 R 행렬 생성
    full_pred_matrix = np.dot(P,Q.T)                                # P와 Q.T를 dot(내적) = 예측 R행렬 
    
    # 실제 R 행렬에서 NULL이 아닌 값의 위치 인덱스 추출하여 실제 R 행렬과 예측 행렬의 RMSE 추출
    x_non_zero_ind = [non_zero[0] for non_zero in non_zeros]   # ( non_zeros안에  non_zero를 0을 제외하고 반복적으로 수행)
    y_non_zero_ind = [non_zero[1] for non_zero in non_zeros]   #(non_zeros안에 non_zero를  0부터 추출한다(?))
    R_non_zeros = R[x_non_zero_ind, y_non_zero_ind]
    
    full_pred_matrix_non_zeros = full_pred_matrix[x_non_zero_ind,y_non_zero_ind] # 예측 R행렬 full_pred_matrix에 (x,y)을 넣고
     
    mse = mean_squared_error(R_non_zeros, full_pred_matrix_non_zeros) # mse = mse(실제행렬, 예측행렬)
    rmse = np.sqrt(mse)    # rmse 는 mse에 루트
    
    return rmse

In [ ]:
# 행렬 분해
# 책에서 이미 설정해놓은것  R  = 사용자-아이템 평점 행렬 k = 잠재요인  learning_rate=학습률 r_lambda = L2규제계수
# matrix_factorization = 행렬 분해 로직 

def matrix_factorization(R, K, steps=100, learning_rate=0.01, r_lambda=0.01):            
    num_users, num_items = R.shape                         # 사용자-아이템 평점 행렬의 컬럼이 num_users, num_items 다(?)
    np.random.seed(1)
    P = np.random.normal(scale=1./K, size = (num_users,K))   #P = 정규분포 (scale=1./K, size = (num_users,K)
    Q = np.random.normal(scale=1./K, size = (num_items,K))    #Q = 정규분포 (scale=1./K, size = (num_users,K)
    
    prev_rmse=10000                   # 설명을 할수가없다 (그냥 대입이라서)
    break_count = 0
    
    # R > 0인 행 위치, 열 위치, 값을 non_zeros 리스트 객체에 저장
    non_zeros = [(i,j,R[i,j]) for i in range(num_users) for j in range(num_items) if R[i,j] > 0]   # 
    
    # SGD 기법으로 P와 Q 매트릭스를 계속 업데이트   SGD(경사하강법)
    for step in range(steps):  # steps는 SGD의 반복횟수      
        for i, j, r in non_zeros:                                       # 
            # 실제 값과 예측 값의 차이인 오류 값 구함
            eij = r - np.dot(P[i,:],Q[j,:].T)
            # Regularization을 반영한 SGD 업데이트 공식 적용
            P[i,:] = P[i,:] + learning_rate*(eij * Q[j,:] - r_lambda*P[i,:])
            Q[j,:] = Q[j,:] + learning_rate*(eij * P[i,:] - r_lambda*Q[j,:])
            
        rmse = get_rmse(R,P,Q, non_zeros)
        if ( step % 10) == 0: # 10회 반복할 때마다 오류 값 출력
            print(f'iteration step: {step}, rmse: {rmse}')
    return P, Q

In [ ]:
p= pd.read_csv('./data/test21.csv',encoding='cp949')

p = p.set_index('고객번호')
p

In [ ]:
p1 = p.copy()
p1

In [ ]:
p.info()

In [ ]:
p.values

In [ ]:
p.count()

In [ ]:
p.dtypes

In [ ]:
p =p.replace([np.inf, -np.inf], 0)
p

In [ ]:
p= p.fillna(0)
p

In [ ]:
P, Q = matrix_factorization(p.values, K=50, steps=100, learning_rate=0.01,
                           r_lambda = 0.01)
pred_matrix = np.dot(P,Q.T)

In [ ]:
p_pred_matrix = pd.DataFrame(data=pred_matrix, index=pred_matrix.index,
                                  columns = pred_matrix.columns)
p_pred_matrix.head(3)

In [ ]:
notbuy_list = get_notbuy_product(p,9)

recomm_pr = recomm_pr_by_userid(p_pred_matrix, 9, notbuy_list, top_n=20)

recomm_pr = pd.DataFrame(data=recomm_pr.values, index = recomm_pr.index,
                            columns=['pred_score'])
recomm_pr