In [1]:
import pandas as pd
import numpy as np

In [2]:
a = pd.read_csv('./data/PRODCL2.csv')
a

     제휴사  대분류코드  중분류코드    소분류코드    중분류명      소분류명  상품분류 소비재분류
0      A      1    101  A010101    일용잡화      위생세제  생활잡화   편의품
1      A      1    101  A010102    일용잡화       휴지류  생활잡화   편의품
2      A      1    101  A010103    일용잡화      뷰티상품  생활잡화   편의품
3      A      1    101  A010104    일용잡화      일용잡화  생활잡화   편의품
4      A      1    101  A010105    일용잡화      세트상품  생활잡화   편의품
...   ..    ...    ...      ...     ...       ...   ...   ...
4381   D      8    802  D080204  아이메이크업     아이섀도우   화장품   편의품
4382   D      8    802  D080205  아이메이크업    메이크업세트   화장품   편의품
4383   D      8    803  D080301   립메이크업  립스틱/립라이너   화장품   편의품
4384   D      8    803  D080302   립메이크업   립글로즈/틴트   화장품   편의품
4385   D      8    804  D080401  네일메이크업  일반네일/케어류   화장품   편의품

[4386 rows x 8 columns]

In [3]:
a4 = a.loc[a['소비재분류'] =='선매품']
a4

     제휴사  대분류코드  중분류코드    소분류코드  중분류명       소분류명   상품분류 소비재분류
117    A      1    108  A010801  건강식품   건강식품(홍삼)  고급식료품   선매품
118    A      1    108  A010802  건강식품       건강식품  고급식료품   선매품
119    A      1    108  A010803  건강식품  건강식품(비타민)  고급식료품   선매품
138    A      2    201  A020101  섬유잡화    넥타이(특정)   의류잡화   선매품
139    A      2    201  A020102  섬유잡화    스카프(특정)   의류잡화   선매품
...   ..    ...    ...      ...   ...        ...    ...   ...
4352   D      5    503  D050302    기기      헤어세팅기   전자제품   선매품
4369   D      6    605  D060502  전기용품    이어폰/헤드폰   전자제품   선매품
4370   D      6    606  D060601  안전용품       보안용품   전자제품   선매품
4371   D      6    607  D060701  여행용품      여행용소품   레저취미   선매품
4372   D      6    608  D060801   계절팩     손난로/핫팩   레저취미   선매품

[1294 rows x 8 columns]

In [60]:
a3 = a.loc[a['소비재분류'] =='전문품']
a3

     제휴사  대분류코드  중분류코드    소분류코드    중분류명        소분류명 상품분류 소비재분류
180    A      2    204  A020401      보석          조화  귀금속   전문품
181    A      2    204  A020402      보석          보석  귀금속   전문품
182    A      2    205  A020501  준보석/시계          시계  귀금속   전문품
541    A      7    704  A070401      악기      피아노/악기   악기   전문품
542    A      7    704  A070402      악기          악기   악기   전문품
543    A      7    704  A070403      악기          음반   악기   전문품
553    A      8    801  A080101      명품         갤러리   명품   전문품
554    A      8    801  A080102      명품        수입잡화   명품   전문품
555    A      8    801  A080103      명품        수입의류   명품   전문품
556    A      8    801  A080104      명품         직수입   명품   전문품
557    A      8    801  A080105      명품       잡화멀티샵   명품   전문품
558    A      8    801  A080106      명품        명품잡화   명품   전문품
559    A      8    801  A080107      명품      명품잡화보석   명품   전문품
560    A      8    801  A080108      명품        명품기타   명품   전문품
561    A      8    801  A080109      명품      명품잡화행사   명품   전문품
562    A      8    801  A080110      명품        디자이너   명품   전문품
563    A      8    801  A080111      명품         어덜트   명품   전문품
564    A      8    801  A080112      명품       컨템포러리   명품   전문품
565    A      8    801  A080113      명품        명품남성   명품   전문품
566    A      8    801  A080114      명품      명품의류행사   명품   전문품
567    A      8    801  A080115      명품      명품의류기타   명품   전문품
568    A      8    801  A080116      명품      명품시계기타   명품   전문품
569    A      8    801  A080117      명품        명품보석   명품   전문품
570    A      8    801  A080118      명품        힐앤토트   명품   전문품
571    A      8    801  A080119      명품       주얼리멀티   명품   전문품
572    A      8    801  A080120      명품      명품멀티기타   명품   전문품
573    A      8    801  A080121      명품         엘리든   명품   전문품
574    A      8    801  A080122      명품  global 편집샵   명품   전문품
575    A      8    801  A080123      명품      남성해외패션   명품   전문품
576    A      8    801  A080124      명품         갤러리   명품   전문품
577    A      8    801  A080125      명품         어덜트   명품   전문품
629    A      9    907  A090701      웨딩          웨딩   웨딩   전문품
1541   B     24   2407  B240704   교육보조재         피아노   악기   전문품
2231   B     45   4501  B450101     준보석         14K  귀금속   전문품
2232   B     45   4501  B450102     준보석       준보석행사  귀금속   전문품
2233   B     45   4501  B450103     준보석      준보석브랜드  귀금속   전문품
2234   B     45   4501  B450104     준보석       일반준보석  귀금속   전문품
2235   B     45   4501  B450105     준보석           금  귀금속   전문품
2236   B     45   4502  B450201      시계       시계브랜드  귀금속   전문품
2237   B     45   4502  B450202      시계        시계편집  귀금속   전문품
2238   B     45   4502  B450203      시계        일반시계  귀금속   전문품
2239   B     45   4502  B450204      시계      벽/탁상시계  귀금속   전문품
2240   B     45   4502  B450205      시계         브랜드  귀금속   전문품
2241   B     45   4502  B450206      시계        아동시계  귀금속   전문품
2254   B     45   4504  B450401   피혁브랜드       피혁브랜드   명품   전문품
2255   B     45   4504  B450402   피혁브랜드       명품브랜드   명품   전문품
2262   B     45   4507  B450703   미입점행사        명품행사   명품   전문품

In [4]:
p = pd.read_csv('./data/2번군집.csv',encoding='cp949')
p

,고객번호,14K,2단우산,3단우산,3분요리류,4대 B/D,5 ON THE GO,ACC Bloom (1F),ACC Bloom (3F),AK골프,...,휴대폰기타용품,휴모니아,휴지류,휴지통,흑미,흑미류,흰다리새우,히터,히터기,힐앤토트
0,4,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,10,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
2,13,0.0,0.0,0.0,25.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,14,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,15,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5466,19293,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5467,19301,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0
5468,19310,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5469,19311,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
5470,19322,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,5.0,1.0,0.0,0.0,0.0

In [5]:
b = p['고객번호']
b

0           4
1          10
2          13
3          14
4          15
        ...
5466    19293
5467    19301
5468    19310
5469    19311
5470    19322
Name: 고객번호, Length: 5471, dtype: int64

In [6]:
a_col = a.loc[(a['소비재분류']=='전문품')| (a['소비재분류']=='선매품')]
a_col.shape

(1341, 8)

In [7]:
p_col = np.array(p.columns.to_list()) 
p_col

array(['고객번호', '14K', '2단우산', ..., '히터', '히터기', '힐앤토트'], dtype='<U18')

In [8]:
ili = np.where(np.isin(p_col, a_col)==True)[0]
ili

array([   1,    7,    8, ..., 3518, 3519, 3520], dtype=int64)

In [9]:
p_col[ili]

array(['14K', 'ACC Bloom (1F)', 'ACC Bloom (3F)', ..., '히터', '히터기',
       '힐앤토트'], dtype='<U18')

In [10]:
p = p[p_col[ili]]
p

,14K,ACC Bloom (1F),ACC Bloom (3F),AK골프,ANDZ,ARCHIV,BON,Bag&Bag,DIY가전,DKNY,...,황기,황토침구,휘트니스,휠라골프,휠라아웃도어,휴고보스,휴고보스골프,히터,히터기,힐앤토트
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5466,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5467,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5468,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5469,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5470,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [11]:
p = pd.concat([b,p],axis=1)
p

,고객번호,14K,ACC Bloom (1F),ACC Bloom (3F),AK골프,ANDZ,ARCHIV,BON,Bag&Bag,DIY가전,...,황기,황토침구,휘트니스,휠라골프,휠라아웃도어,휴고보스,휴고보스골프,히터,히터기,힐앤토트
0,4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,10,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,13,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,14,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
4,15,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5466,19293,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5467,19301,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5468,19310,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5469,19311,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5470,19322,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [12]:
# 코사인 유사도를 하기 위해서 전치 행렬을 구하는 단계 
p_T = p.transpose()
p_T.head(3)

,0,1,2,3,4,5,6,7,8,9,...,5461,5462,5463,5464,5465,5466,5467,5468,5469,5470
고객번호,4.0,10.0,13.0,14.0,15.0,20.0,21.0,27.0,34.0,50.0,...,19274.0,19276.0,19278.0,19286.0,19289.0,19293.0,19301.0,19310.0,19311.0,19322.0
14K,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,...,0.0,0.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
ACC Bloom (1F),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [13]:
# 코사인 유사도를 구하는 코드 
from sklearn.metrics.pairwise import cosine_similarity

item_sim = cosine_similarity(p_T,p_T)
# 코사인 유사도 만든 행렬을 데이터프레임으로 변환 
item_sim_df = pd.DataFrame(data=item_sim, index = p.columns,
                          columns=p.columns)
print(item_sim_df.shape)
item_sim_df.head(3)

(1221, 1221)

,고객번호,14K,ACC Bloom (1F),ACC Bloom (3F),AK골프,ANDZ,ARCHIV,BON,Bag&Bag,DIY가전,...,황기,황토침구,휘트니스,휠라골프,휠라아웃도어,휴고보스,휴고보스골프,히터,히터기,힐앤토트
고객번호,1.000000,0.180122,0.032753,0.127652,0.016218,0.049798,0.035320,0.032733,0.125184,0.019282,...,0.009945,0.104152,0.049050,0.035434,0.005688,0.019644,0.0,0.037911,0.0,0.042968
14K,0.180122,1.000000,0.026210,0.150199,0.029466,0.129441,0.013748,0.029884,0.103037,0.000000,...,0.009094,0.007681,0.034698,0.047983,0.000000,0.000000,0.0,0.000000,0.0,0.074835
ACC Bloom (1F),0.032753,0.026210,1.000000,0.058220,0.000000,0.000000,0.060523,0.000000,0.055401,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.167716

In [15]:
# 예시적으로 기호품등급에 유사도가 높은 상위 6개 추출 
item_sim_df["BON"].sort_values(ascending=False)[1:6]

여성피혁      0.316228
야외용테이블    0.282843
와이드앵글     0.239046
TNGT      0.190693
타임옴므      0.141421
Name: BON, dtype: float64

In [16]:
# 코사인유사도 내적곱한값을 코사인 유사도 절대값의 합으로 나눈 거(정규화를위해서)
import numpy as np
def predict_p(p_arr, item_sim_arr):
    p_pred = p_arr.dot(item_sim_arr)/np.array([np.abs(item_sim_arr).sum(axis=1)])
    return p_pred

In [17]:
# 개인별 상품 예측 
p_pred = predict_p(p.values, item_sim_df.values)
p_pred_matrix = pd.DataFrame(data=p_pred, index = p.index,\
                            columns = p.columns)
p_pred_matrix

C:\Users\dlwog\AppData\Local\Temp/ipykernel_15624/674637514.py:4: RuntimeWarning: invalid value encountered in true_divide
  p_pred = p_arr.dot(item_sim_arr)/np.array([np.abs(item_sim_arr).sum(axis=1)])

,고객번호,14K,ACC Bloom (1F),ACC Bloom (3F),AK골프,ANDZ,ARCHIV,BON,Bag&Bag,DIY가전,...,황기,황토침구,휘트니스,휠라골프,휠라아웃도어,휴고보스,휴고보스골프,히터,히터기,힐앤토트
0,0.292335,0.547822,0.258277,0.626627,0.366765,0.487509,0.375492,0.249508,0.537888,0.165185,...,0.346043,0.176335,0.414837,0.501021,0.571154,0.429221,NaN,0.159357,NaN,0.295594
1,0.208387,0.309257,0.224256,0.335963,0.149282,0.200935,0.199196,0.124605,0.292897,0.117984,...,0.114740,0.118219,0.188822,0.191921,0.280996,0.248496,NaN,0.305749,NaN,0.190492
2,0.248373,0.268090,0.176527,0.305434,0.100837,0.216842,0.179737,0.148789,0.276741,0.243891,...,0.137610,0.187360,0.167929,0.191296,0.270153,0.148459,NaN,0.228905,NaN,0.159526
3,0.352169,0.556292,0.552022,0.608010,0.232143,0.594699,0.418549,0.212877,0.585631,0.371792,...,0.143796,0.219911,0.403173,1.103480,0.680610,0.765606,NaN,0.219189,NaN,0.417021
4,0.337894,0.484617,0.370495,0.616901,0.278920,0.444942,0.410013,0.211156,0.528351,0.174890,...,0.214863,0.197884,0.327036,0.610565,0.422039,0.615170,NaN,0.256587,NaN,0.248535
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5466,165.224941,80.143110,94.047840,99.972901,63.716885,63.268663,78.223819,65.381439,85.516151,118.907118,...,35.144227,81.623813,63.076500,49.451359,15.924759,100.194167,NaN,264.870849,NaN,61.263012
5467,165.077432,80.083085,94.039643,99.912188,63.716109,63.222032,78.151072,65.267456,85.419391,118.772929,...,34.938514,81.358962,63.044604,49.406918,15.814212,100.226782,NaN,264.919385,NaN,61.249480
5468,165.398954,80.792566,94.347463,100.593747,64.371865,63.881667,78.836919,65.617218,86.032440,118.840098,...,35.149069,81.484711,63.668686,49.961057,16.677490,101.068598,NaN,265.285783,NaN,61.808535
5469,165.271381,80.201330,94.124047,100.035884,63.828699,63.323563,78.247036,65.362752,85.538842,118.921436,...,35.048127,81.512903,63.156833,49.481450,15.855251,100.327690,NaN,265.099359,NaN,61.325034
5470,165.524071,80.392928,94.252065,100.256425,63.920243,63.524921,78.461339,65.528927,85.722702,119.143865,...,35.195114,81.782591,63.287274,49.734085,16.565485,100.388592,NaN,265.341799,NaN,61.447559

In [18]:
from sklearn.metrics import mean_squared_error

# mse =실제와 예측 점수차이 비교 
def get_mse(pred, actual):
    pred = pred[actual.nonzero()].flatten()
    actual = actual[actual.nonzero()].flatten()
    return mean_squared_error(pred,actual)

print('아이템 기반 모든 최근접 이웃 MSE:', get_mse(p_pred, p.values))

아이템 기반 모든 최근접 이웃 MSE: 2393808.2355371895

In [19]:
def predict_p_topsim(p_arr, item_sim_arr, n =20):
    pred = np.zeros(p_arr.shape)
    
    for col in range(p_arr.shape[1]):
        top_n_items = [np.argsort(item_sim_arr[:,col])[:-n-1:-1]]
        for row in range(p_arr.shape[0]):
            pred[row, col] = item_sim_arr[col,:][top_n_items].dot(p_arr[row,:][top_n_items].T)
            
            pred[row, col] /= np.sum(np.abs(item_sim_arr[col,:][top_n_items]))
            
    return pred

In [20]:

p_pred = predict_p_topsim(p.values, item_sim_df.values, n=20)
print('아이템 기반 최근접 TOP-20 이웃 MSE:', get_mse(p_pred, p.values))

p_pred_matrix = pd.DataFrame(data=p_pred, index = p.index, columns=p.columns)

C:\Users\dlwog\AppData\Local\Temp/ipykernel_15624/4050495572.py:7: FutureWarning: Using a non-tuple sequence for multidimensional indexing is deprecated; use `arr[tuple(seq)]` instead of `arr[seq]`. In the future this will be interpreted as an array index, `arr[np.array(seq)]`, which will result either in an error or a different result.
  pred[row, col] = item_sim_arr[col,:][top_n_items].dot(p_arr[row,:][top_n_items].T)
C:\Users\dlwog\AppData\Local\Temp/ipykernel_15624/4050495572.py:9: FutureWarning: Using a non-tuple sequence for multidimensional indexing is deprecated; use `arr[tuple(seq)]` instead of `arr[seq]`. In the future this will be interpreted as an array index, `arr[np.array(seq)]`, which will result either in an error or a different result.
  pred[row, col] /= np.sum(np.abs(item_sim_arr[col,:][top_n_items]))
C:\Users\dlwog\AppData\Local\Temp/ipykernel_15624/4050495572.py:9: RuntimeWarning: invalid value encountered in double_scalars
  pred[row, col] /= np.sum(np.abs(item_sim_arr[col,:][top_n_items]))

아이템 기반 최근접 TOP-20 이웃 MSE: 2004057.4709122814

In [21]:
p_pred_matrix

,고객번호,14K,ACC Bloom (1F),ACC Bloom (3F),AK골프,ANDZ,ARCHIV,BON,Bag&Bag,DIY가전,...,황기,황토침구,휘트니스,휠라골프,휠라아웃도어,휴고보스,휴고보스골프,히터,히터기,힐앤토트
0,1.202718,1.636035,0.000000,1.081348,0.071280,0.360280,0.064196,0.082099,1.126097,0.051295,...,0.000000,0.069686,0.421972,0.247944,0.409901,0.197469,NaN,0.116200,NaN,0.000000
1,1.487289,1.364028,0.049299,0.843585,0.017820,0.051850,0.000000,0.000000,0.664829,0.000000,...,0.000000,0.056395,0.105207,0.000000,0.227482,0.137412,NaN,0.367345,NaN,0.000000
2,2.266899,0.938369,0.000000,0.656627,0.020122,0.124030,0.000000,0.050905,0.679888,0.090343,...,0.000000,0.143064,0.030079,0.119912,0.245380,0.000000,NaN,0.228809,NaN,0.000000
3,2.068270,0.629945,0.443688,0.605180,0.071492,0.277388,0.024760,0.025418,0.482502,0.379630,...,0.000000,0.034249,0.148156,1.922345,0.383733,0.853492,NaN,0.246409,NaN,0.361186
4,2.151608,1.213825,0.147896,1.113613,0.018032,0.166411,0.276574,0.025418,0.728863,0.000000,...,0.000000,0.031047,0.168608,0.176344,0.113273,0.567011,NaN,0.275269,NaN,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5466,2350.197886,0.040745,0.000000,0.032879,0.000000,0.000000,0.000000,0.000000,0.045893,0.020562,...,0.077869,0.732660,0.000000,0.000000,0.170668,0.000000,NaN,339.603426,NaN,0.000000
5467,2349.664815,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.074064,0.000000,0.000000,0.000000,0.000000,NaN,339.710391,NaN,0.000000
5468,2351.059499,1.881308,0.000000,0.484016,0.254831,0.776625,0.631361,0.000000,0.953501,0.000000,...,0.000000,0.000000,0.363771,0.596987,0.705683,0.773682,NaN,340.001390,NaN,0.174675
5469,2351.317646,0.091430,0.000000,0.037064,0.017820,0.027044,0.000000,0.000000,0.042001,0.000000,...,0.000000,0.285941,0.105207,0.000000,0.000000,0.020401,NaN,339.900262,NaN,0.000000
5470,2354.257196,0.080731,0.000000,0.000000,0.000000,0.339825,0.022624,0.000000,0.000000,0.026591,...,0.053799,0.839776,0.000000,0.456768,1.021733,0.000000,NaN,340.120382,NaN,0.000000

In [22]:
user_p_id =p.loc[3,:]
user_p_id[user_p_id > 0].sort_values(ascending=False)[:10]

엘레강스        34.0
디자이너부틱      24.0
커리어         21.0
고객번호        14.0
N/B골프의류     13.0
영플라자(기타)     9.0
구두시즌         6.0
L/C골프의류      6.0
명품잡화         5.0
스카프(특정)      5.0
Name: 3, dtype: float64

In [23]:

def get_notbuy_product(p,고객번호):
    user_p = p.loc[고객번호,:]

    already_buy = user_p[user_p > 0].index.tolist()

    p3_list = p.columns.tolist()

    notbuy_list = [pro for pro in p3_list if pro not in already_buy]
    
    return notbuy_list

In [24]:
def recomm_pr_by_userid(pred_df,고객번호, notbuy_list, top_n=20):
    recomm_pr = pred_df.loc[고객번호,notbuy_list].sort_values(ascending=False)[:top_n]
    return recomm_pr

notbuy_list = get_notbuy_product(p,3)

recomm_pr = recomm_pr_by_userid(p_pred_matrix, 3, notbuy_list, top_n=20)

recomm_pr = pd.DataFrame(data=recomm_pr.values, index = recomm_pr.index,
                            columns=['pred_score'])
recomm_pr

             pred_score
JDX골프          7.062776
밸류커리어          4.844061
K2             4.764307
어덜트            4.063125
Knit & Knot    2.988962
슈페리어           2.844193
숙녀고정행사         2.794367
L.B            2.284847
팬텀골프           2.211548
블랙앤화이트         2.197473
잭니클라우스         2.174724
라푸마            2.059031
아이더            2.031304
핑              1.947501
레노마골프          1.815635
울시             1.812181
N.B            1.777994
우/양산(특정)       1.777089
수예소품           1.775358
비지니스군          1.775305

In [25]:
#응용구현 1 고객번호 검색
s = int(input('고객번호를 입력하세요:'))
notbuy_list = get_notbuy_product(p,s)
recomm_pr = recomm_pr_by_userid(p_pred_matrix,s, notbuy_list, top_n=20)
recomm_pr = pd.DataFrame(data=recomm_pr.values, index = recomm_pr.index,columns=['추천점수'])
recomm_pr[:10]

고객번호를 입력하세요:3

                 추천점수
JDX골프        7.062776
밸류커리어        4.844061
K2           4.764307
어덜트          4.063125
Knit & Knot  2.988962
슈페리어         2.844193
숙녀고정행사       2.794367
L.B          2.284847
팬텀골프         2.211548
블랙앤화이트       2.197473

In [85]:
# 여기까지가 1번군집 일반추천

In [26]:
#응용구현 2 맞춤할인 검색
def recomm_pr_by_userid(pred_df,고객번호, notbuy_list, top_n=20):
    recomm_pr = pred_df.loc[고객번호,notbuy_list].sort_values(ascending=False)[:top_n]
    return recomm_pr

notbuy_list = get_notbuy_product(p,3)

recomm_pr = recomm_pr_by_userid(p_pred_matrix, 3, notbuy_list, top_n=20)

recomm_pr = pd.DataFrame(data=recomm_pr.values, index = recomm_pr.index,
                            columns=['pred_score'])
recomm_pr

             pred_score
JDX골프          7.062776
밸류커리어          4.844061
K2             4.764307
어덜트            4.063125
Knit & Knot    2.988962
슈페리어           2.844193
숙녀고정행사         2.794367
L.B            2.284847
팬텀골프           2.211548
블랙앤화이트         2.197473
잭니클라우스         2.174724
라푸마            2.059031
아이더            2.031304
핑              1.947501
레노마골프          1.815635
울시             1.812181
N.B            1.777994
우/양산(특정)       1.777089
수예소품           1.775358
비지니스군          1.775305

In [27]:
p_T[['할인여부','할인율']]=0
sale=p_T.iloc[:,-2:]
sale.reset_index(inplace=True)

aa=sale.sample(frac=0.2)
aa['할인여부']=1

df=pd.merge(sale,aa, on='index',how='left')
df=df[['index','할인여부_y','할인율_y']]
df.fillna(0,inplace=True)

df.loc[df['할인여부_y']==1,'할인율_y']=np.random.randint(10,40,704).astype(str)
df.loc[df['할인여부_y']==1,'할인율_y']=df.loc[df['할인여부_y']==1,'할인율_y']+'%'
df[df['할인여부_y']==1]
df

ValueError: Must have equal len keys and value when setting with an iterable

In [ ]:
res=pd.merge(recomm_pr.reset_index(),df[df['할인여부_y']==1], on='index',how='left').dropna()
res.columns=['품목명','평가점수','할인여부','할인율']
res

In [ ]:
#응용구현 3 최근성 추가

def recomm_pr_by_userid(pred_df,고객번호, notbuy_list, top_n=20):
    recomm_pr = pred_df.loc[고객번호,notbuy_list].sort_values(ascending=False)[:top_n]
    return recomm_pr

notbuy_list = get_notbuy_product(p,19320)

recomm_pr = recomm_pr_by_userid(p_pred_matrix, 19320, notbuy_list, top_n=20)

recomm_pr = pd.DataFrame(data=recomm_pr.values, index = recomm_pr.index,columns=['pred_score'])
display(recomm_pr[:10])


re= pd.read_csv('./data/추천최근.csv',encoding='cp949')
df_cust=pd.read_csv('./data/PRODCL2.csv',encoding = 'utf8')
df_cust = df_cust[['소분류코드','소분류명']]
df_cust = df_cust.set_index('소분류코드')

def re_pro(num):
    li=re.loc[re['고객번호']==num,'소분류코드'].tolist()
    item_Id = np.random.choice(li)
    item = df_cust.loc[item_Id,'소분류명']
    item_se = item_sim_df[item].sort_values(ascending=False)[:10]
    recomm_pr = pd.DataFrame(data=item_se.values, index = item_se.index,columns=['추천점수'])
    display(recomm_pr)
    
re_pro(50)

In [ ]:
import numpy as np
import pandas as pd
from sklearn.metrics import mean_squared_error
# 확률적 경사하강법을 이용한 행렬 분해

#경사하강법 = '점진적으로'반복적인 계산을 통해 \파라미터 값을 업데이트하면서 오류값이 최소가 되는 \파라미터 구하는 방식
#' 데이러를 기반으로 알고리즘이 스스로학습한다',는 머신러닝의 개념을 가능하게해준 핵심기법

def get_rmse(R, P, Q, non_zeros):             # R= 실제행렬값   p,q = 분해된 행렬값(?)  # get_rms = 실제행렬과 예측 행렬의오차를구하는 함수
    error = 0
    # 두개의 분해된 행렬 P와 Q.T의 내적 곱으로 예측 R 행렬 생성
    full_pred_matrix = np.dot(P,Q.T)                                # P와 Q.T를 dot(내적) = 예측 R행렬 
    
    # 실제 R 행렬에서 NULL이 아닌 값의 위치 인덱스 추출하여 실제 R 행렬과 예측 행렬의 RMSE 추출
    x_non_zero_ind = [non_zero[0] for non_zero in non_zeros]   # ( non_zeros안에  non_zero를 0을 제외하고 반복적으로 수행)
    y_non_zero_ind = [non_zero[1] for non_zero in non_zeros]   #(non_zeros안에 non_zero를  0부터 추출한다(?))
    R_non_zeros = R[x_non_zero_ind, y_non_zero_ind]
    
    full_pred_matrix_non_zeros = full_pred_matrix[x_non_zero_ind,y_non_zero_ind] # 예측 R행렬 full_pred_matrix에 (x,y)을 넣고
     
    mse = mean_squared_error(R_non_zeros, full_pred_matrix_non_zeros) # mse = mse(실제행렬, 예측행렬)
    rmse = np.sqrt(mse)    # rmse 는 mse에 루트
    
    return rmse

In [ ]:
# 행렬 분해
# 책에서 이미 설정해놓은것  R  = 사용자-아이템 평점 행렬 k = 잠재요인  learning_rate=학습률 r_lambda = L2규제계수
# matrix_factorization = 행렬 분해 로직 

def matrix_factorization(R, K, steps=100, learning_rate=0.01, r_lambda=0.01):            
    num_users, num_items = R.shape                         # 사용자-아이템 평점 행렬의 컬럼이 num_users, num_items 다(?)
    np.random.seed(1)
    P = np.random.normal(scale=1./K, size = (num_users,K))   #P = 정규분포 (scale=1./K, size = (num_users,K)
    Q = np.random.normal(scale=1./K, size = (num_items,K))    #Q = 정규분포 (scale=1./K, size = (num_users,K)
    
    prev_rmse=10000                   # 설명을 할수가없다 (그냥 대입이라서)
    break_count = 0
    
    # R > 0인 행 위치, 열 위치, 값을 non_zeros 리스트 객체에 저장
    non_zeros = [(i,j,R[i,j]) for i in range(num_users) for j in range(num_items) if R[i,j] > 0]   # 
    
    # SGD 기법으로 P와 Q 매트릭스를 계속 업데이트   SGD(경사하강법)
    for step in range(steps):  # steps는 SGD의 반복횟수      
        for i, j, r in non_zeros:                                       # 
            # 실제 값과 예측 값의 차이인 오류 값 구함
            eij = r - np.dot(P[i,:],Q[j,:].T)
            # Regularization을 반영한 SGD 업데이트 공식 적용
            P[i,:] = P[i,:] + learning_rate*(eij * Q[j,:] - r_lambda*P[i,:])
            Q[j,:] = Q[j,:] + learning_rate*(eij * P[i,:] - r_lambda*Q[j,:])
            
        rmse = get_rmse(R,P,Q, non_zeros)
        if ( step % 10) == 0: # 10회 반복할 때마다 오류 값 출력
            print(f'iteration step: {step}, rmse: {rmse}')
    return P, Q

In [ ]:
p= pd.read_csv('./data/test21.csv',encoding='cp949')

p = p.set_index('고객번호')
p

In [ ]:
p1 = p.copy()
p1

In [ ]:
p.info()

In [ ]:
p.values

In [ ]:
p.count()

In [ ]:
p.dtypes

In [ ]:
p =p.replace([np.inf, -np.inf], 0)
p

In [ ]:
p= p.fillna(0)
p

In [ ]:
P, Q = matrix_factorization(p.values, K=50, steps=100, learning_rate=0.01,
                           r_lambda = 0.01)
pred_matrix = np.dot(P,Q.T)

In [ ]:
p_pred_matrix = pd.DataFrame(data=pred_matrix, index=pred_matrix.index,
                                  columns = pred_matrix.columns)
p_pred_matrix.head(3)

In [ ]:
notbuy_list = get_notbuy_product(p,9)

recomm_pr = recomm_pr_by_userid(p_pred_matrix, 9, notbuy_list, top_n=20)

recomm_pr = pd.DataFrame(data=recomm_pr.values, index = recomm_pr.index,
                            columns=['pred_score'])
recomm_pr