In [1]:
import pandas as pd
import numpy as np

In [2]:
a = pd.read_csv('./data/PRODCL2.csv')
a

     제휴사  대분류코드  중분류코드    소분류코드    중분류명      소분류명  상품분류 소비재분류
0      A      1    101  A010101    일용잡화      위생세제  생활잡화   편의품
1      A      1    101  A010102    일용잡화       휴지류  생활잡화   편의품
2      A      1    101  A010103    일용잡화      뷰티상품  생활잡화   편의품
3      A      1    101  A010104    일용잡화      일용잡화  생활잡화   편의품
4      A      1    101  A010105    일용잡화      세트상품  생활잡화   편의품
...   ..    ...    ...      ...     ...       ...   ...   ...
4381   D      8    802  D080204  아이메이크업     아이섀도우   화장품   편의품
4382   D      8    802  D080205  아이메이크업    메이크업세트   화장품   편의품
4383   D      8    803  D080301   립메이크업  립스틱/립라이너   화장품   편의품
4384   D      8    803  D080302   립메이크업   립글로즈/틴트   화장품   편의품
4385   D      8    804  D080401  네일메이크업  일반네일/케어류   화장품   편의품

[4386 rows x 8 columns]

In [71]:
a4 = a.loc[a['소비재분류'] =='선매품']
a4

     제휴사  대분류코드  중분류코드    소분류코드  중분류명       소분류명   상품분류 소비재분류
117    A      1    108  A010801  건강식품   건강식품(홍삼)  고급식료품   선매품
118    A      1    108  A010802  건강식품       건강식품  고급식료품   선매품
119    A      1    108  A010803  건강식품  건강식품(비타민)  고급식료품   선매품
138    A      2    201  A020101  섬유잡화    넥타이(특정)   의류잡화   선매품
139    A      2    201  A020102  섬유잡화    스카프(특정)   의류잡화   선매품
...   ..    ...    ...      ...   ...        ...    ...   ...
4352   D      5    503  D050302    기기      헤어세팅기   전자제품   선매품
4369   D      6    605  D060502  전기용품    이어폰/헤드폰   전자제품   선매품
4370   D      6    606  D060601  안전용품       보안용품   전자제품   선매품
4371   D      6    607  D060701  여행용품      여행용소품   레저취미   선매품
4372   D      6    608  D060801   계절팩     손난로/핫팩   레저취미   선매품

[1294 rows x 8 columns]

In [60]:
a3 = a.loc[a['소비재분류'] =='전문품']
a3

     제휴사  대분류코드  중분류코드    소분류코드    중분류명        소분류명 상품분류 소비재분류
180    A      2    204  A020401      보석          조화  귀금속   전문품
181    A      2    204  A020402      보석          보석  귀금속   전문품
182    A      2    205  A020501  준보석/시계          시계  귀금속   전문품
541    A      7    704  A070401      악기      피아노/악기   악기   전문품
542    A      7    704  A070402      악기          악기   악기   전문품
543    A      7    704  A070403      악기          음반   악기   전문품
553    A      8    801  A080101      명품         갤러리   명품   전문품
554    A      8    801  A080102      명품        수입잡화   명품   전문품
555    A      8    801  A080103      명품        수입의류   명품   전문품
556    A      8    801  A080104      명품         직수입   명품   전문품
557    A      8    801  A080105      명품       잡화멀티샵   명품   전문품
558    A      8    801  A080106      명품        명품잡화   명품   전문품
559    A      8    801  A080107      명품      명품잡화보석   명품   전문품
560    A      8    801  A080108      명품        명품기타   명품   전문품
561    A      8    801  A080109      명품      명품잡화행사   명품   전문품
562    A      8    801  A080110      명품        디자이너   명품   전문품
563    A      8    801  A080111      명품         어덜트   명품   전문품
564    A      8    801  A080112      명품       컨템포러리   명품   전문품
565    A      8    801  A080113      명품        명품남성   명품   전문품
566    A      8    801  A080114      명품      명품의류행사   명품   전문품
567    A      8    801  A080115      명품      명품의류기타   명품   전문품
568    A      8    801  A080116      명품      명품시계기타   명품   전문품
569    A      8    801  A080117      명품        명품보석   명품   전문품
570    A      8    801  A080118      명품        힐앤토트   명품   전문품
571    A      8    801  A080119      명품       주얼리멀티   명품   전문품
572    A      8    801  A080120      명품      명품멀티기타   명품   전문품
573    A      8    801  A080121      명품         엘리든   명품   전문품
574    A      8    801  A080122      명품  global 편집샵   명품   전문품
575    A      8    801  A080123      명품      남성해외패션   명품   전문품
576    A      8    801  A080124      명품         갤러리   명품   전문품
577    A      8    801  A080125      명품         어덜트   명품   전문품
629    A      9    907  A090701      웨딩          웨딩   웨딩   전문품
1541   B     24   2407  B240704   교육보조재         피아노   악기   전문품
2231   B     45   4501  B450101     준보석         14K  귀금속   전문품
2232   B     45   4501  B450102     준보석       준보석행사  귀금속   전문품
2233   B     45   4501  B450103     준보석      준보석브랜드  귀금속   전문품
2234   B     45   4501  B450104     준보석       일반준보석  귀금속   전문품
2235   B     45   4501  B450105     준보석           금  귀금속   전문품
2236   B     45   4502  B450201      시계       시계브랜드  귀금속   전문품
2237   B     45   4502  B450202      시계        시계편집  귀금속   전문품
2238   B     45   4502  B450203      시계        일반시계  귀금속   전문품
2239   B     45   4502  B450204      시계      벽/탁상시계  귀금속   전문품
2240   B     45   4502  B450205      시계         브랜드  귀금속   전문품
2241   B     45   4502  B450206      시계        아동시계  귀금속   전문품
2254   B     45   4504  B450401   피혁브랜드       피혁브랜드   명품   전문품
2255   B     45   4504  B450402   피혁브랜드       명품브랜드   명품   전문품
2262   B     45   4507  B450703   미입점행사        명품행사   명품   전문품

In [12]:
p = pd.read_csv('./data/3번군집.csv',encoding='cp949')
p

,고객번호,14K,2단우산,3단우산,3분요리류,4대 B/D,5 ON THE GO,ACC Bloom (1F),ACC Bloom (3F),AK골프,...,휴대폰기타용품,휴모니아,휴지류,휴지통,흑미,흑미류,흰다리새우,히터,히터기,힐앤토트
0,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,17,0.0,0.0,0.0,0.0,6.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,18,0.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,19,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2701,19298,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2702,19304,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2703,19314,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2704,19325,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2705,19334,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0

In [13]:
b = p['고객번호']
b

0           1
1           2
2          17
3          18
4          19
        ...
2701    19298
2702    19304
2703    19314
2704    19325
2705    19334
Name: 고객번호, Length: 2706, dtype: int64

In [4]:
a_col = a.loc[a['소비재분류']=='선매품']['소분류명'].values
a_col.shape

(1294,)

In [6]:
p_col = np.array(p.columns.to_list()) 
p_col

array(['고객번호', '14K', '2단우산', ..., '히터', '히터기', '힐앤토트'], dtype='<U18')

In [7]:
ili = np.where(np.isin(p_col, a_col)==True)[0]
ili

array([   1,    7,    8, ..., 3510, 3518, 3519], dtype=int64)

In [8]:
p_col[ili]

array(['14K', 'ACC Bloom (1F)', 'ACC Bloom (3F)', ..., '휴고보스골프', '히터',
       '히터기'], dtype='<U18')

In [9]:
p = p[p_col[ili]]
p

,14K,ACC Bloom (1F),ACC Bloom (3F),AK골프,ANDZ,ARCHIV,BON,Bag&Bag,DIY가전,DKNY,...,화장품,황기,황토침구,휘트니스,휠라골프,휠라아웃도어,휴고보스,휴고보스골프,히터,히터기
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2701,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2702,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2703,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2704,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2705,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [14]:
p = pd.concat([b,p],axis=1)
p

,고객번호,고객번호,14K,2단우산,3단우산,3분요리류,4대 B/D,5 ON THE GO,ACC Bloom (1F),ACC Bloom (3F),...,휴대폰기타용품,휴모니아,휴지류,휴지통,흑미,흑미류,흰다리새우,히터,히터기,힐앤토트
0,1,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2,2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,17,17,0.0,0.0,0.0,0.0,6.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,18,18,0.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,19,19,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2701,19298,19298,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2702,19304,19304,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2703,19314,19314,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2704,19325,19325,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2705,19334,19334,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0

In [15]:
# 코사인 유사도를 하기 위해서 전치 행렬을 구하는 단계 
p_T = p.transpose()
p_T.head(3)

,0,1,2,3,4,5,6,7,8,9,...,2696,2697,2698,2699,2700,2701,2702,2703,2704,2705
고객번호,1.0,2.0,17.0,18.0,19.0,26.0,36.0,39.0,46.0,47.0,...,19279.0,19280.0,19282.0,19290.0,19297.0,19298.0,19304.0,19314.0,19325.0,19334.0
고객번호,1.0,2.0,17.0,18.0,19.0,26.0,36.0,39.0,46.0,47.0,...,19279.0,19280.0,19282.0,19290.0,19297.0,19298.0,19304.0,19314.0,19325.0,19334.0
14K,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,29.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0

In [16]:
# 코사인 유사도를 구하는 코드 
from sklearn.metrics.pairwise import cosine_similarity

item_sim = cosine_similarity(p_T,p_T)
# 코사인 유사도 만든 행렬을 데이터프레임으로 변환 
item_sim_df = pd.DataFrame(data=item_sim, index = p.columns,
                          columns=p.columns)
print(item_sim_df.shape)
item_sim_df.head(3)

(3522, 3522)

,고객번호,고객번호,14K,2단우산,3단우산,3분요리류,4대 B/D,5 ON THE GO,ACC Bloom (1F),ACC Bloom (3F),...,휴대폰기타용품,휴모니아,휴지류,휴지통,흑미,흑미류,흰다리새우,히터,히터기,힐앤토트
고객번호,1.000000,1.000000,0.253218,0.029512,0.034758,0.206283,0.101524,0.038457,0.030915,0.183530,...,0.013659,0.0,0.106282,0.221910,0.111660,0.162285,0.174501,0.045324,0.0,0.066147
고객번호,1.000000,1.000000,0.253218,0.029512,0.034758,0.206283,0.101524,0.038457,0.030915,0.183530,...,0.013659,0.0,0.106282,0.221910,0.111660,0.162285,0.174501,0.045324,0.0,0.066147
14K,0.253218,0.253218,1.000000,0.002107,0.004802,0.026103,0.082354,0.008905,0.007743,0.120741,...,0.000000,0.0,0.042685,0.073287,0.009522,0.020104,0.048358,0.000000,0.0,0.017195

In [17]:
# 예시적으로 기호품등급에 유사도가 높은 상위 6개 추출 
item_sim_df["2단우산"].sort_values(ascending=False)[1:6]

다이어리      0.516398
수입산양고기    0.258199
국그릇       0.239046
이미용       0.215353
웍앤톡       0.210819
Name: 2단우산, dtype: float64

In [18]:
# 코사인유사도 내적곱한값을 코사인 유사도 절대값의 합으로 나눈 거(정규화를위해서)
import numpy as np
def predict_p(p_arr, item_sim_arr):
    p_pred = p_arr.dot(item_sim_arr)/np.array([np.abs(item_sim_arr).sum(axis=1)])
    return p_pred

In [19]:
# 개인별 상품 예측 
p_pred = predict_p(p.values, item_sim_df.values)
p_pred_matrix = pd.DataFrame(data=p_pred, index = p.index,\
                            columns = p.columns)
p_pred_matrix

C:\Users\dlwog\AppData\Local\Temp/ipykernel_2064/674637514.py:4: RuntimeWarning: invalid value encountered in true_divide
  p_pred = p_arr.dot(item_sim_arr)/np.array([np.abs(item_sim_arr).sum(axis=1)])

,고객번호,고객번호,14K,2단우산,3단우산,3분요리류,4대 B/D,5 ON THE GO,ACC Bloom (1F),ACC Bloom (3F),...,휴대폰기타용품,휴모니아,휴지류,휴지통,흑미,흑미류,흰다리새우,히터,히터기,힐앤토트
0,0.869595,0.869595,1.344757,1.004816,0.627891,0.359876,1.176392,0.847946,0.908503,1.457442,...,0.083222,NaN,1.765084,0.440514,0.404468,0.297935,0.361140,0.295524,NaN,1.149890
1,1.052013,1.052013,1.596448,1.446216,0.627728,0.363794,1.425430,1.109483,1.171786,1.664703,...,0.018301,NaN,2.431406,0.479015,0.296226,0.258961,0.368535,0.316359,NaN,0.886703
2,0.747829,0.747829,0.958631,0.844104,0.603041,0.362862,1.017866,0.743421,1.416003,0.999582,...,0.161144,NaN,1.356215,0.402014,0.495541,0.327448,0.348613,0.403975,NaN,0.750349
3,0.727816,0.727816,1.052416,0.824917,0.447156,0.277358,1.121902,0.661511,0.837633,1.080127,...,0.049410,NaN,1.473207,0.332184,0.333149,0.218807,0.264030,0.254053,NaN,0.615323
4,0.648517,0.648517,0.899650,1.122965,0.383470,0.213585,0.775206,0.677595,0.696287,0.958845,...,0.037117,NaN,1.354924,0.260874,0.157211,0.149499,0.218066,0.141522,NaN,0.464908
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2701,96.022728,96.022728,84.218882,48.090775,39.831456,34.554816,95.502650,35.482692,101.412220,103.540132,...,35.778033,NaN,96.313304,31.997776,30.283034,34.584345,27.152650,53.258182,NaN,51.669103
2702,96.101217,96.101217,84.531739,48.283254,39.760695,34.285932,95.685769,35.486578,101.669537,103.895267,...,35.604286,NaN,96.972086,31.803478,30.159645,34.300670,26.932631,53.032463,NaN,51.789303
2703,95.934200,95.934200,84.293093,48.001157,39.628280,34.232277,95.479302,35.581650,101.327055,103.659887,...,35.621054,NaN,96.511986,31.719126,30.098282,34.274931,26.862289,53.018290,NaN,52.116514
2704,95.944447,95.944447,84.111637,47.773231,39.799515,34.317948,95.413119,35.120500,101.970740,103.522643,...,35.659011,NaN,96.389919,31.761553,30.163697,34.341919,26.909473,53.090098,NaN,51.659993
2705,96.541702,96.541702,84.266188,48.188123,40.441408,35.352073,95.655585,35.825336,101.159744,103.523165,...,36.261209,NaN,96.257275,32.549620,31.110902,35.360656,27.931132,53.949215,NaN,52.018433

In [20]:
from sklearn.metrics import mean_squared_error

# mse =실제와 예측 점수차이 비교 
def get_mse(pred, actual):
    pred = pred[actual.nonzero()].flatten()
    actual = actual[actual.nonzero()].flatten()
    return mean_squared_error(pred,actual)

print('아이템 기반 모든 최근접 이웃 MSE:', get_mse(p_pred, p.values))

아이템 기반 모든 최근접 이웃 MSE: 759896.2023837344

In [21]:
def predict_p_topsim(p_arr, item_sim_arr, n =20):
    pred = np.zeros(p_arr.shape)
    
    for col in range(p_arr.shape[1]):
        top_n_items = [np.argsort(item_sim_arr[:,col])[:-n-1:-1]]
        for row in range(p_arr.shape[0]):
            pred[row, col] = item_sim_arr[col,:][top_n_items].dot(p_arr[row,:][top_n_items].T)
            
            pred[row, col] /= np.sum(np.abs(item_sim_arr[col,:][top_n_items]))
            
    return pred

In [22]:

p_pred = predict_p_topsim(p.values, item_sim_df.values, n=20)
print('아이템 기반 최근접 TOP-20 이웃 MSE:', get_mse(p_pred, p.values))

p_pred_matrix = pd.DataFrame(data=p_pred, index = p.index, columns=p.columns)

C:\Users\dlwog\AppData\Local\Temp/ipykernel_2064/4050495572.py:7: FutureWarning: Using a non-tuple sequence for multidimensional indexing is deprecated; use `arr[tuple(seq)]` instead of `arr[seq]`. In the future this will be interpreted as an array index, `arr[np.array(seq)]`, which will result either in an error or a different result.
  pred[row, col] = item_sim_arr[col,:][top_n_items].dot(p_arr[row,:][top_n_items].T)
C:\Users\dlwog\AppData\Local\Temp/ipykernel_2064/4050495572.py:9: FutureWarning: Using a non-tuple sequence for multidimensional indexing is deprecated; use `arr[tuple(seq)]` instead of `arr[seq]`. In the future this will be interpreted as an array index, `arr[np.array(seq)]`, which will result either in an error or a different result.
  pred[row, col] /= np.sum(np.abs(item_sim_arr[col,:][top_n_items]))
C:\Users\dlwog\AppData\Local\Temp/ipykernel_2064/4050495572.py:9: RuntimeWarning: invalid value encountered in double_scalars
  pred[row, col] /= np.sum(np.abs(item_sim_arr[col,:][top_n_items]))

아이템 기반 최근접 TOP-20 이웃 MSE: 657341.0019041324

In [135]:
p_pred_matrix

,고객번호,2단우산,3단우산,3분요리류,BB/파운데이션/컴팩트류,DIY소가구,DIY완구,DVD,Digital Accessory,FAST FOOD,...,훼이셜스킨케어,훼이셜클렌저,훼이셜클린져,휴대폰기타용품,휴모니아,휴지류,휴지통,흑미,흑미류,흰다리새우
0,3.428710,1.293211,1.143190,0.039831,0.00000,0.000000,1.158580,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,NaN,NaN,0.000000,0.113789,1.787788,0.000000,0.000000
1,1.689129,0.163877,0.477347,0.719738,0.00000,0.033054,0.000000,0.000000,0.068852,0.021513,...,0.501160,0.241911,0.029371,NaN,NaN,1.161900,0.746179,0.000000,0.475495,0.260639
2,8.493504,1.386716,3.709594,5.414269,0.00000,0.039506,0.000000,0.000000,0.047238,0.079637,...,1.523522,3.295322,0.209828,NaN,NaN,0.468344,3.033726,1.119035,5.732568,3.912013
3,7.369322,1.299843,1.312514,9.706345,0.00000,0.180635,0.179465,0.093250,0.000000,0.594433,...,3.959403,2.930087,0.400047,NaN,NaN,0.000000,3.274523,0.764254,5.027349,3.391149
4,5.578902,0.527912,0.921480,5.442902,0.00000,0.037234,0.000000,0.059497,0.000000,0.137228,...,1.105859,1.389047,0.061142,NaN,NaN,0.000000,5.499093,0.378495,4.341133,2.522836
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2566,1547.283321,5.555658,5.580503,0.556379,0.00000,0.000000,1.692098,0.000000,0.000000,0.023474,...,0.232437,0.211311,0.064150,NaN,NaN,0.000000,732.587396,2.501396,0.182413,0.000000
2567,1535.981534,0.765720,1.014352,5.001362,0.00000,0.261524,0.000000,0.217080,0.294663,0.053783,...,4.203704,2.895267,0.219949,NaN,NaN,0.000000,736.011863,0.347211,4.478817,4.611522
2568,1543.068556,5.995743,1.677879,0.000000,0.00000,0.000000,1.236442,0.000000,0.000000,0.000000,...,0.040388,0.000000,0.000000,NaN,NaN,0.000000,733.067223,1.312555,0.000000,0.000000
2569,1555.194722,11.203242,8.484839,0.454657,0.25096,0.000000,1.835914,0.089388,0.031030,0.000000,...,0.092061,0.082233,0.000000,NaN,NaN,0.000000,733.376422,5.122687,0.085627,0.000000
2570,1535.858456,0.557845,1.535192,0.872196,0.00000,0.000000,0.000000,0.000000,0.000000,0.109079,...,0.350327,0.043389,0.000000,NaN,NaN,1.936790,733.414523,0.000000,0.320849,0.000000

In [23]:
user_p_id =p.loc[3,:]
user_p_id[user_p_id > 0].sort_values(ascending=False)[:10]

수입식품      53.0
일반가공식품    47.0
디자이너부틱    40.0
기초 화장품    40.0
유제품       34.0
생선        34.0
농산가공      28.0
식당가 한식    28.0
위생세제      27.0
캐릭터 여화    23.0
Name: 3, dtype: float64

In [24]:

def get_notbuy_product(p,고객번호):
    user_p = p.loc[고객번호,:]

    already_buy = user_p[user_p > 0].index.tolist()

    p3_list = p.columns.tolist()

    notbuy_list = [pro for pro in p3_list if pro not in already_buy]
    
    return notbuy_list

In [25]:
def recomm_pr_by_userid(pred_df,고객번호, notbuy_list, top_n=20):
    recomm_pr = pred_df.loc[고객번호,notbuy_list].sort_values(ascending=False)[:top_n]
    return recomm_pr

notbuy_list = get_notbuy_product(p,3)

recomm_pr = recomm_pr_by_userid(p_pred_matrix, 3, notbuy_list, top_n=20)

recomm_pr = pd.DataFrame(data=recomm_pr.values, index = recomm_pr.index,
                            columns=['pred_score'])
recomm_pr

          pred_score
건강식품(홍삼)   16.149790
계육         15.878189
양념육        15.877865
즉석반찬       15.345161
규격젓갈       14.833689
떡          14.632404
농산단기행사     14.356597
특산물행사      14.335804
장류         13.832619
벌크김치       13.816576
수산단기행사     13.718091
스타킹(특정)    13.674988
중식델리       13.591212
기타생선       13.440901
한식델리       13.424054
일식델리       13.337372
벌크젓갈       13.107006
초밥         12.932517
케익류        12.832078
브랑제리       12.544521

In [26]:
#응용구현 1 고객번호 검색
s = int(input('고객번호를 입력하세요:'))
notbuy_list = get_notbuy_product(p,s)
recomm_pr = recomm_pr_by_userid(p_pred_matrix,s, notbuy_list, top_n=20)
recomm_pr = pd.DataFrame(data=recomm_pr.values, index = recomm_pr.index,columns=['추천점수'])
recomm_pr[:10]

고객번호를 입력하세요:3

               추천점수
건강식품(홍삼)  16.149790
계육        15.878189
양념육       15.877865
즉석반찬      15.345161
규격젓갈      14.833689
떡         14.632404
농산단기행사    14.356597
특산물행사     14.335804
장류        13.832619
벌크김치      13.816576

In [85]:
# 여기까지가 1번군집 일반추천

In [27]:
#응용구현 2 맞춤할인 검색
def recomm_pr_by_userid(pred_df,고객번호, notbuy_list, top_n=20):
    recomm_pr = pred_df.loc[고객번호,notbuy_list].sort_values(ascending=False)[:top_n]
    return recomm_pr

notbuy_list = get_notbuy_product(p,3)

recomm_pr = recomm_pr_by_userid(p_pred_matrix, 3, notbuy_list, top_n=20)

recomm_pr = pd.DataFrame(data=recomm_pr.values, index = recomm_pr.index,
                            columns=['pred_score'])
recomm_pr

          pred_score
건강식품(홍삼)   16.149790
계육         15.878189
양념육        15.877865
즉석반찬       15.345161
규격젓갈       14.833689
떡          14.632404
농산단기행사     14.356597
특산물행사      14.335804
장류         13.832619
벌크김치       13.816576
수산단기행사     13.718091
스타킹(특정)    13.674988
중식델리       13.591212
기타생선       13.440901
한식델리       13.424054
일식델리       13.337372
벌크젓갈       13.107006
초밥         12.932517
케익류        12.832078
브랑제리       12.544521

In [28]:
p_T[['할인여부','할인율']]=0
sale=p_T.iloc[:,-2:]
sale.reset_index(inplace=True)

aa=sale.sample(frac=0.2)
aa['할인여부']=1

df=pd.merge(sale,aa, on='index',how='left')
df=df[['index','할인여부_y','할인율_y']]
df.fillna(0,inplace=True)

df.loc[df['할인여부_y']==1,'할인율_y']=np.random.randint(10,40,704).astype(str)
df.loc[df['할인여부_y']==1,'할인율_y']=df.loc[df['할인여부_y']==1,'할인율_y']+'%'
df[df['할인여부_y']==1]
df

ValueError: Must have equal len keys and value when setting with an iterable

In [ ]:
res=pd.merge(recomm_pr.reset_index(),df[df['할인여부_y']==1], on='index',how='left').dropna()
res.columns=['품목명','평가점수','할인여부','할인율']
res

In [ ]:
#응용구현 3 최근성 추가

def recomm_pr_by_userid(pred_df,고객번호, notbuy_list, top_n=20):
    recomm_pr = pred_df.loc[고객번호,notbuy_list].sort_values(ascending=False)[:top_n]
    return recomm_pr

notbuy_list = get_notbuy_product(p,19320)

recomm_pr = recomm_pr_by_userid(p_pred_matrix, 19320, notbuy_list, top_n=20)

recomm_pr = pd.DataFrame(data=recomm_pr.values, index = recomm_pr.index,columns=['pred_score'])
display(recomm_pr[:10])


re= pd.read_csv('./data/추천최근.csv',encoding='cp949')
df_cust=pd.read_csv('./data/PRODCL2.csv',encoding = 'utf8')
df_cust = df_cust[['소분류코드','소분류명']]
df_cust = df_cust.set_index('소분류코드')

def re_pro(num):
    li=re.loc[re['고객번호']==num,'소분류코드'].tolist()
    item_Id = np.random.choice(li)
    item = df_cust.loc[item_Id,'소분류명']
    item_se = item_sim_df[item].sort_values(ascending=False)[:10]
    recomm_pr = pd.DataFrame(data=item_se.values, index = item_se.index,columns=['추천점수'])
    display(recomm_pr)
    
re_pro(50)

In [ ]:
import numpy as np
import pandas as pd
from sklearn.metrics import mean_squared_error
# 확률적 경사하강법을 이용한 행렬 분해

#경사하강법 = '점진적으로'반복적인 계산을 통해 \파라미터 값을 업데이트하면서 오류값이 최소가 되는 \파라미터 구하는 방식
#' 데이러를 기반으로 알고리즘이 스스로학습한다',는 머신러닝의 개념을 가능하게해준 핵심기법

def get_rmse(R, P, Q, non_zeros):             # R= 실제행렬값   p,q = 분해된 행렬값(?)  # get_rms = 실제행렬과 예측 행렬의오차를구하는 함수
    error = 0
    # 두개의 분해된 행렬 P와 Q.T의 내적 곱으로 예측 R 행렬 생성
    full_pred_matrix = np.dot(P,Q.T)                                # P와 Q.T를 dot(내적) = 예측 R행렬 
    
    # 실제 R 행렬에서 NULL이 아닌 값의 위치 인덱스 추출하여 실제 R 행렬과 예측 행렬의 RMSE 추출
    x_non_zero_ind = [non_zero[0] for non_zero in non_zeros]   # ( non_zeros안에  non_zero를 0을 제외하고 반복적으로 수행)
    y_non_zero_ind = [non_zero[1] for non_zero in non_zeros]   #(non_zeros안에 non_zero를  0부터 추출한다(?))
    R_non_zeros = R[x_non_zero_ind, y_non_zero_ind]
    
    full_pred_matrix_non_zeros = full_pred_matrix[x_non_zero_ind,y_non_zero_ind] # 예측 R행렬 full_pred_matrix에 (x,y)을 넣고
     
    mse = mean_squared_error(R_non_zeros, full_pred_matrix_non_zeros) # mse = mse(실제행렬, 예측행렬)
    rmse = np.sqrt(mse)    # rmse 는 mse에 루트
    
    return rmse

In [ ]:
# 행렬 분해
# 책에서 이미 설정해놓은것  R  = 사용자-아이템 평점 행렬 k = 잠재요인  learning_rate=학습률 r_lambda = L2규제계수
# matrix_factorization = 행렬 분해 로직 

def matrix_factorization(R, K, steps=100, learning_rate=0.01, r_lambda=0.01):            
    num_users, num_items = R.shape                         # 사용자-아이템 평점 행렬의 컬럼이 num_users, num_items 다(?)
    np.random.seed(1)
    P = np.random.normal(scale=1./K, size = (num_users,K))   #P = 정규분포 (scale=1./K, size = (num_users,K)
    Q = np.random.normal(scale=1./K, size = (num_items,K))    #Q = 정규분포 (scale=1./K, size = (num_users,K)
    
    prev_rmse=10000                   # 설명을 할수가없다 (그냥 대입이라서)
    break_count = 0
    
    # R > 0인 행 위치, 열 위치, 값을 non_zeros 리스트 객체에 저장
    non_zeros = [(i,j,R[i,j]) for i in range(num_users) for j in range(num_items) if R[i,j] > 0]   # 
    
    # SGD 기법으로 P와 Q 매트릭스를 계속 업데이트   SGD(경사하강법)
    for step in range(steps):  # steps는 SGD의 반복횟수      
        for i, j, r in non_zeros:                                       # 
            # 실제 값과 예측 값의 차이인 오류 값 구함
            eij = r - np.dot(P[i,:],Q[j,:].T)
            # Regularization을 반영한 SGD 업데이트 공식 적용
            P[i,:] = P[i,:] + learning_rate*(eij * Q[j,:] - r_lambda*P[i,:])
            Q[j,:] = Q[j,:] + learning_rate*(eij * P[i,:] - r_lambda*Q[j,:])
            
        rmse = get_rmse(R,P,Q, non_zeros)
        if ( step % 10) == 0: # 10회 반복할 때마다 오류 값 출력
            print(f'iteration step: {step}, rmse: {rmse}')
    return P, Q

In [ ]:
p= pd.read_csv('./data/test21.csv',encoding='cp949')

p = p.set_index('고객번호')
p

In [ ]:
p1 = p.copy()
p1

In [ ]:
p.info()

In [ ]:
p.values

In [ ]:
p.count()

In [ ]:
p.dtypes

In [ ]:
p =p.replace([np.inf, -np.inf], 0)
p

In [ ]:
p= p.fillna(0)
p

In [ ]:
P, Q = matrix_factorization(p.values, K=50, steps=100, learning_rate=0.01,
                           r_lambda = 0.01)
pred_matrix = np.dot(P,Q.T)

In [ ]:
p_pred_matrix = pd.DataFrame(data=pred_matrix, index=pred_matrix.index,
                                  columns = pred_matrix.columns)
p_pred_matrix.head(3)

In [ ]:
notbuy_list = get_notbuy_product(p,9)

recomm_pr = recomm_pr_by_userid(p_pred_matrix, 9, notbuy_list, top_n=20)

recomm_pr = pd.DataFrame(data=recomm_pr.values, index = recomm_pr.index,
                            columns=['pred_score'])
recomm_pr