In [1]:
import pandas as pd
import numpy as np

In [2]:
a = pd.read_csv('./data/PRODCL2.csv')
a

     제휴사  대분류코드  중분류코드    소분류코드    중분류명      소분류명  상품분류 소비재분류
0      A      1    101  A010101    일용잡화      위생세제  생활잡화   편의품
1      A      1    101  A010102    일용잡화       휴지류  생활잡화   편의품
2      A      1    101  A010103    일용잡화      뷰티상품  생활잡화   편의품
3      A      1    101  A010104    일용잡화      일용잡화  생활잡화   편의품
4      A      1    101  A010105    일용잡화      세트상품  생활잡화   편의품
...   ..    ...    ...      ...     ...       ...   ...   ...
4381   D      8    802  D080204  아이메이크업     아이섀도우   화장품   편의품
4382   D      8    802  D080205  아이메이크업    메이크업세트   화장품   편의품
4383   D      8    803  D080301   립메이크업  립스틱/립라이너   화장품   편의품
4384   D      8    803  D080302   립메이크업   립글로즈/틴트   화장품   편의품
4385   D      8    804  D080401  네일메이크업  일반네일/케어류   화장품   편의품

[4386 rows x 8 columns]

In [3]:
q = pd.read_csv('./data/1번군집.csv',encoding='cp949')
q = q.set_index('고객번호')
q

,14K,2단우산,3단우산,3분요리류,4대 B/D,5 ON THE GO,ACC Bloom (1F),ACC Bloom (3F),AK골프,ANDZ,...,휴대폰기타용품,휴모니아,휴지류,휴지통,흑미,흑미류,흰다리새우,히터,히터기,힐앤토트
고객번호,,,,,,,,,,,,,,,,,,,,,
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
28,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
33,0.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
43,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19309,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
19320,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0,0.0
19327,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
19332,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
19333,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [4]:
q1 = pd.read_csv('./data/2번군집.csv',encoding='cp949')
q1 = q1.set_index('고객번호')
q1

,14K,2단우산,3단우산,3분요리류,4대 B/D,5 ON THE GO,ACC Bloom (1F),ACC Bloom (3F),AK골프,ANDZ,...,휴대폰기타용품,휴모니아,휴지류,휴지통,흑미,흑미류,흰다리새우,히터,히터기,힐앤토트
고객번호,,,,,,,,,,,,,,,,,,,,,
4,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
13,0.0,0.0,0.0,25.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
14,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
15,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19293,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
19301,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0
19310,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
19311,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
19322,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,5.0,1.0,0.0,0.0,0.0

In [5]:
q2 = pd.read_csv('./data/3번군집.csv',encoding='cp949')
q2 = q2.set_index('고객번호')
q2

,14K,2단우산,3단우산,3분요리류,4대 B/D,5 ON THE GO,ACC Bloom (1F),ACC Bloom (3F),AK골프,ANDZ,...,휴대폰기타용품,휴모니아,휴지류,휴지통,흑미,흑미류,흰다리새우,히터,히터기,힐앤토트
고객번호,,,,,,,,,,,,,,,,,,,,,
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
17,0.0,0.0,0.0,0.0,6.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
18,0.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
19,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19298,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
19304,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
19314,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
19325,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
19334,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0

In [6]:
q3 = pd.concat([q,q1])
q3

,14K,2단우산,3단우산,3분요리류,4대 B/D,5 ON THE GO,ACC Bloom (1F),ACC Bloom (3F),AK골프,ANDZ,...,휴대폰기타용품,휴모니아,휴지류,휴지통,흑미,흑미류,흰다리새우,히터,히터기,힐앤토트
고객번호,,,,,,,,,,,,,,,,,,,,,
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
28,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
33,0.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
43,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19293,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
19301,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0
19310,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
19311,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
19322,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,5.0,1.0,0.0,0.0,0.0

In [7]:
p = pd.concat([q2,q3])
p

,14K,2단우산,3단우산,3분요리류,4대 B/D,5 ON THE GO,ACC Bloom (1F),ACC Bloom (3F),AK골프,ANDZ,...,휴대폰기타용품,휴모니아,휴지류,휴지통,흑미,흑미류,흰다리새우,히터,히터기,힐앤토트
고객번호,,,,,,,,,,,,,,,,,,,,,
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
17,0.0,0.0,0.0,0.0,6.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
18,0.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
19,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19293,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
19301,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0
19310,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
19311,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
19322,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,5.0,1.0,0.0,0.0,0.0

In [8]:
a_col = a.loc[a['소비재분류']=='선매품']['소분류명'].values
a_col

array(['건강식품(홍삼)', '건강식품', '건강식품(비타민)', ..., '보안용품', '여행용소품', '손난로/핫팩'],
      dtype=object)

In [9]:
p_col = np.array(p.columns.to_list()) 
p_col

array(['14K', '2단우산', '3단우산', ..., '히터', '히터기', '힐앤토트'], dtype='<U18')

In [10]:
ili = np.where(np.isin(p_col, a_col)==True)[0]
ili

array([   0,    6,    7, ..., 3509, 3517, 3518], dtype=int64)

In [11]:
p_col[ili]

array(['14K', 'ACC Bloom (1F)', 'ACC Bloom (3F)', ..., '휴고보스골프', '히터',
       '히터기'], dtype='<U18')

In [12]:
p = p[p_col[ili]]
p

,14K,ACC Bloom (1F),ACC Bloom (3F),AK골프,ANDZ,ARCHIV,BON,Bag&Bag,DIY가전,DKNY,...,화장품,황기,황토침구,휘트니스,휠라골프,휠라아웃도어,휴고보스,휴고보스골프,히터,히터기
고객번호,,,,,,,,,,,,,,,,,,,,,
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
17,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
18,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
19,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19293,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
19301,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
19310,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
19311,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
19322,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [13]:
p_T = p.transpose()
p_T.head()

고객번호,1,2,17,18,19,26,36,39,46,47,...,19274,19276,19278,19286,19289,19293,19301,19310,19311,19322
14K,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
ACC Bloom (1F),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
ACC Bloom (3F),0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
AK골프,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
ANDZ,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [14]:
# 코사인 유사도를 구하는 코드 
from sklearn.metrics.pairwise import cosine_similarity

item_sim = cosine_similarity(p_T,p_T)
# 코사인 유사도 만든 행렬을 데이터프레임으로 변환 
item_sim_df = pd.DataFrame(data=item_sim, index = p.columns,
                          columns=p.columns)
print(item_sim_df.shape)
item_sim_df.head(3)

(1179, 1179)

,14K,ACC Bloom (1F),ACC Bloom (3F),AK골프,ANDZ,ARCHIV,BON,Bag&Bag,DIY가전,DKNY,...,화장품,황기,황토침구,휘트니스,휠라골프,휠라아웃도어,휴고보스,휴고보스골프,히터,히터기
14K,1.000000,0.013242,0.125934,0.00796,0.114178,0.026070,0.053246,0.087445,0.0,0.040294,...,0.016551,0.002724,0.013190,0.024815,0.039635,0.014416,0.010867,0.0,0.0,0.0
ACC Bloom (1F),0.013242,1.000000,0.034328,0.00000,0.000000,0.016779,0.000000,0.073193,0.0,0.000000,...,0.006793,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0
ACC Bloom (3F),0.125934,0.034328,1.000000,0.00000,0.080137,0.010752,0.011268,0.160804,0.0,0.000000,...,0.021764,0.000000,0.007169,0.014565,0.015222,0.028029,0.002817,0.0,0.0,0.0

In [16]:
# 예시적으로 기호품등급에 유사도가 높은 상위 6개 추출 
item_sim_df["황기"].sort_values(ascending=False)[1:6]

인삼        0.178174
엠유스포츠     0.130488
여성캐주얼화    0.082479
아동반장      0.071112
모장갑       0.063214
Name: 황기, dtype: float64

In [17]:
# 코사인유사도 내적곱한값을 코사인 유사도 절대값의 합으로 나눈 거(정규화를위해서)
import numpy as np
def predict_p(p_arr, item_sim_arr):
    p_pred = p_arr.dot(item_sim_arr)/np.array([np.abs(item_sim_arr).sum(axis=1)])
    return p_pred

In [18]:
# 개인별 상품 예측 
p_pred = predict_p(p.values, item_sim_df.values)
p_pred_matrix = pd.DataFrame(data=p_pred, index = p.index,\
                            columns = p.columns)
p_pred_matrix

C:\Users\dlwog\AppData\Local\Temp/ipykernel_17120/674637514.py:4: RuntimeWarning: invalid value encountered in true_divide
  p_pred = p_arr.dot(item_sim_arr)/np.array([np.abs(item_sim_arr).sum(axis=1)])

,14K,ACC Bloom (1F),ACC Bloom (3F),AK골프,ANDZ,ARCHIV,BON,Bag&Bag,DIY가전,DKNY,...,화장품,황기,황토침구,휘트니스,휠라골프,휠라아웃도어,휴고보스,휴고보스골프,히터,히터기
고객번호,,,,,,,,,,,,,,,,,,,,,
1,1.630030,0.545074,1.662601,1.058772,1.200752,1.101578,1.084066,1.458299,0.169927,1.271354,...,1.661176,0.398651,0.311636,1.064829,1.593769,1.307703,1.228061,1.067702,0.188632,NaN
2,1.401160,0.449019,1.424748,1.047745,1.015704,0.959255,0.792101,1.198349,0.120259,1.083618,...,1.345639,0.533978,0.332669,1.076340,1.488958,1.280889,1.067137,0.698229,0.335685,NaN
17,0.514376,1.037964,0.504776,0.280122,0.320543,0.529759,0.305580,0.475251,0.062347,0.327851,...,0.889714,0.122021,0.115619,0.312298,0.477494,0.527899,0.513621,0.315925,0.076471,NaN
18,0.972060,0.262891,0.983911,0.666922,0.769210,0.545622,0.648156,0.892987,0.119322,0.729047,...,0.883936,0.392178,0.211219,0.705135,1.074793,1.443591,0.665951,0.581576,0.184383,NaN
19,0.443788,0.118583,0.438224,0.296412,0.298340,0.295794,0.270406,0.373368,0.051118,0.320162,...,0.418472,0.206479,0.112524,0.294012,0.527721,0.435133,0.357054,0.292845,0.083428,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19293,0.110031,0.046258,0.108632,0.086956,0.107141,0.084904,0.104210,0.144344,0.249203,0.058191,...,0.091776,0.233084,0.361126,0.086171,0.098527,0.094706,0.056026,0.030854,0.120178,NaN
19301,0.018014,0.005855,0.017062,0.014645,0.015342,0.008895,0.019890,0.027218,0.041099,0.002656,...,0.011816,0.039836,0.065504,0.024930,0.009974,0.009389,0.010540,0.016953,0.014595,NaN
19310,0.741355,0.249032,0.761463,0.481013,0.682542,0.479481,0.488323,0.653791,0.088428,0.563264,...,0.558956,0.206066,0.176653,0.575343,0.590891,0.558986,0.590010,0.340474,0.133591,NaN
19311,0.094699,0.040816,0.097216,0.066927,0.083226,0.050564,0.065978,0.102367,0.137270,0.050611,...,0.055916,0.109946,0.181213,0.100980,0.057374,0.046313,0.062539,0.021130,0.044571,NaN
19322,0.265298,0.111541,0.265564,0.160302,0.226034,0.195231,0.203128,0.270773,0.291831,0.211792,...,0.187949,0.249342,0.402992,0.232973,0.288423,0.433541,0.176779,0.130308,0.130828,NaN

In [19]:
from sklearn.metrics import mean_squared_error

# mse =실제와 예측 점수차이 비교 
def get_mse(pred, actual):
    pred = pred[actual.nonzero()].flatten()
    actual = actual[actual.nonzero()].flatten()
    return mean_squared_error(pred,actual)

print('아이템 기반 모든 최근접 이웃 MSE:', get_mse(p_pred, p.values))

아이템 기반 모든 최근접 이웃 MSE: 33.71090033752932

In [20]:
def predict_p_topsim(p_arr, item_sim_arr, n =20):
    pred = np.zeros(p_arr.shape)
    
    for col in range(p_arr.shape[1]):
        top_n_items = [np.argsort(item_sim_arr[:,col])[:-n-1:-1]]
        for row in range(p_arr.shape[0]):
            pred[row, col] = item_sim_arr[col,:][top_n_items].dot(p_arr[row,:][top_n_items].T)
            
            pred[row, col] /= np.sum(np.abs(item_sim_arr[col,:][top_n_items]))
            
    return pred

In [21]:

p_pred = predict_p_topsim(p.values, item_sim_df.values, n=20)
print('아이템 기반 최근접 TOP-20 이웃 MSE:', get_mse(p_pred, p.values))

p_pred_matrix = pd.DataFrame(data=p_pred, index = p.index, columns=p.columns)

C:\Users\dlwog\AppData\Local\Temp/ipykernel_17120/4050495572.py:7: FutureWarning: Using a non-tuple sequence for multidimensional indexing is deprecated; use `arr[tuple(seq)]` instead of `arr[seq]`. In the future this will be interpreted as an array index, `arr[np.array(seq)]`, which will result either in an error or a different result.
  pred[row, col] = item_sim_arr[col,:][top_n_items].dot(p_arr[row,:][top_n_items].T)
C:\Users\dlwog\AppData\Local\Temp/ipykernel_17120/4050495572.py:9: FutureWarning: Using a non-tuple sequence for multidimensional indexing is deprecated; use `arr[tuple(seq)]` instead of `arr[seq]`. In the future this will be interpreted as an array index, `arr[np.array(seq)]`, which will result either in an error or a different result.
  pred[row, col] /= np.sum(np.abs(item_sim_arr[col,:][top_n_items]))
C:\Users\dlwog\AppData\Local\Temp/ipykernel_17120/4050495572.py:9: RuntimeWarning: invalid value encountered in double_scalars
  pred[row, col] /= np.sum(np.abs(item_sim_arr[col,:][top_n_items]))

아이템 기반 최근접 TOP-20 이웃 MSE: 21.08584542384265

In [22]:
p_pred_matrix

,14K,2단우산,3단우산,3분요리류,4대 B/D,5 ON THE GO,ACC Bloom (1F),ACC Bloom (3F),AK골프,ANDZ,...,휴대폰기타용품,휴모니아,휴지류,휴지통,흑미,흑미류,흰다리새우,히터,히터기,힐앤토트
고객번호,,,,,,,,,,,,,,,,,,,,,
1,5.326651,0.542946,0.370824,0.237903,2.273146,0.115053,0.048135,4.127310,0.909361,1.033831,...,0.029002,NaN,10.918997,0.258673,0.416061,0.178296,0.091989,0.029235,NaN,3.074605
2,3.963465,0.000000,0.000000,0.093253,3.245725,0.137607,0.000000,3.122697,0.795071,0.382002,...,0.000000,NaN,18.213957,0.167313,0.000000,0.000000,0.000000,0.000000,NaN,0.144359
17,1.623590,0.830003,0.746472,0.380405,2.918271,0.120799,1.195561,1.110000,0.327340,0.147172,...,0.066590,NaN,7.173082,0.472422,0.937153,0.543646,0.353574,0.094611,NaN,0.136034
18,3.688451,0.174940,0.149799,0.150138,4.788265,0.000000,0.000000,2.809311,0.478029,1.138482,...,0.000000,NaN,10.959168,0.042470,0.311380,0.089119,0.000000,0.040840,NaN,0.000000
19,1.391334,0.000000,0.000000,0.000000,0.792460,0.000000,0.000000,0.994575,0.105776,0.058787,...,0.000000,NaN,7.704297,0.000000,0.000000,0.043260,0.000000,0.000000,NaN,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19293,0.045074,0.419558,0.588615,6.876915,0.000000,0.000000,0.000000,0.036510,0.000000,0.000000,...,0.193718,NaN,0.000000,1.971879,0.463860,4.287047,3.205101,0.035095,NaN,0.000000
19301,0.000000,0.206929,0.691280,5.005299,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.290019,NaN,0.000000,3.213185,1.073826,4.280717,5.511350,0.200190,NaN,0.000000
19310,2.022387,0.109244,0.052991,0.043547,1.041948,0.060005,0.000000,0.573462,0.183136,1.299203,...,0.000000,NaN,0.755253,0.000000,0.080883,0.000000,0.000000,0.000000,NaN,0.781928
19311,0.083398,1.120899,1.878129,13.816899,0.064203,0.000000,0.000000,0.036052,0.000000,0.059400,...,0.122439,NaN,0.032265,2.237386,1.012205,9.065942,5.141145,0.360095,NaN,0.000000
19322,0.000000,0.069840,0.218489,2.536106,0.449014,0.000000,0.000000,0.000000,0.000000,0.389085,...,0.226388,NaN,0.000000,3.026184,0.106737,3.877121,2.099469,0.029235,NaN,0.000000

In [24]:
user_p_id =p.loc[12,:]
user_p_id[user_p_id > 0].sort_values(ascending=False)[:10]

비지니스군      6.0
넥타이(특정)    3.0
닥스         2.0
마에스트로      2.0
갤럭시        1.0
소동물용품      1.0
조명         1.0
Name: 12, dtype: float64

In [25]:

def get_notbuy_product(p,고객번호):
    user_p = p.loc[고객번호,:]

    already_buy = user_p[user_p > 0].index.tolist()

    p3_list = p.columns.tolist()

    notbuy_list = [pro for pro in p3_list if pro not in already_buy]
    
    return notbuy_list

In [26]:
def recomm_pr_by_userid(pred_df,고객번호, notbuy_list, top_n=20):
    recomm_pr = pred_df.loc[고객번호,notbuy_list].sort_values(ascending=False)[:top_n]
    return recomm_pr

notbuy_list = get_notbuy_product(p,12)

recomm_pr = recomm_pr_by_userid(p_pred_matrix, 12, notbuy_list, top_n=20)

recomm_pr = pd.DataFrame(data=recomm_pr.values, index = recomm_pr.index,
                            columns=['pred_score'])
recomm_pr

           pred_score
지이크          0.554445
트랜디          0.530515
킨록앤더슨        0.499468
갤럭시라이프스타일    0.494214
올젠상품군        0.471400
로가디스         0.463481
벨라모          0.461636
일꼬르소         0.444040
금강그룹         0.420030
NB 여화        0.400294
손수건(특정)      0.389366
이동수골프        0.387916
캐릭터 남화       0.380636
에디션          0.370711
셔츠단기행사       0.369283
바쏘           0.344119
클럽캠브리지       0.342530
시티정장바지       0.339772
단기행사(골프)     0.337704
엠유스포츠        0.333530

In [27]:
recomm_pr["소비재분류"] = '선매품'
recomm_pr

           pred_score 소비재분류
지이크          0.554445   선매품
트랜디          0.530515   선매품
킨록앤더슨        0.499468   선매품
갤럭시라이프스타일    0.494214   선매품
올젠상품군        0.471400   선매품
로가디스         0.463481   선매품
벨라모          0.461636   선매품
일꼬르소         0.444040   선매품
금강그룹         0.420030   선매품
NB 여화        0.400294   선매품
손수건(특정)      0.389366   선매품
이동수골프        0.387916   선매품
캐릭터 남화       0.380636   선매품
에디션          0.370711   선매품
셔츠단기행사       0.369283   선매품
바쏘           0.344119   선매품
클럽캠브리지       0.342530   선매품
시티정장바지       0.339772   선매품
단기행사(골프)     0.337704   선매품
엠유스포츠        0.333530   선매품

In [32]:
#응용구현 1 고객번호 검색
s = int(input('고객번호를 입력하세요:'))
notbuy_list = get_notbuy_product(p,s)
recomm_pr = recomm_pr_by_userid(p_pred_matrix,s, notbuy_list, top_n=20)
recomm_pr = pd.DataFrame(data=recomm_pr.values, index = recomm_pr.index,columns=['추천점수'])
recomm_pr[:10]

고객번호를 입력하세요:4

               추천점수
단기행사(스포츠)  2.055649
장갑(특정)     2.055236
시니어        2.039675
단기행사       2.034555
캐릭터 여화     1.921101
에디션        1.909725
L/C 아웃도어   1.909097
NB 여화      1.897000
패션내의       1.793860
프랑코페라로     1.790690

In [33]:
#응용구현 2 맞춤할인 검색
def recomm_pr_by_userid(pred_df,고객번호, notbuy_list, top_n=20):
    recomm_pr = pred_df.loc[고객번호,notbuy_list].sort_values(ascending=False)[:top_n]
    return recomm_pr

notbuy_list = get_notbuy_product(p,4)

recomm_pr = recomm_pr_by_userid(p_pred_matrix, 4, notbuy_list, top_n=20)

recomm_pr = pd.DataFrame(data=recomm_pr.values, index = recomm_pr.index,
                            columns=['pred_score'])
recomm_pr

            pred_score
단기행사(스포츠)     2.055649
장갑(특정)        2.055236
시니어           2.039675
단기행사          2.034555
캐릭터 여화        1.921101
에디션           1.909725
L/C 아웃도어      1.909097
NB 여화         1.897000
패션내의          1.793860
프랑코페라로        1.790690
기타            1.761615
global 편집샵    1.753603
올젠상품군         1.753212
선글라스(특정)      1.739574
나이키화          1.726875
아디다스화         1.622051
고정행사(스포츠)     1.596527
Bag&Bag       1.588688
아디다스의류        1.585317
수입브릿지         1.570639

In [34]:
p_T[['할인여부','할인율']]=0
sale=p_T.iloc[:,-2:]
sale.reset_index(inplace=True)
# p_T
aa=sale.sample(frac=0.2)
aa['할인여부']=1

df=pd.merge(sale,aa, on='index',how='left')
df=df[['index','할인여부_y','할인율_y']]
df.fillna(0,inplace=True)
# df['할인여부_y'].sum()
df.loc[df['할인여부_y']==1,'할인율_y']=np.random.randint(10,40,443).astype(str)
df.loc[df['할인여부_y']==1,'할인율_y']=df.loc[df['할인여부_y']==1,'할인율_y']+'%'
df[df['할인여부_y']==1]
df

ValueError: Must have equal len keys and value when setting with an iterable

In [ ]:
res=pd.merge(recomm_pr.reset_index(),df[df['할인여부_y']==1], on='index',how='left').dropna()
res.columns=['품목명','평가점수','할인여부','할인율']
res