In [1]:
import pandas as pd
import numpy as np

In [2]:
a = pd.read_csv('./data/PRODCL2.csv')
a

     제휴사  대분류코드  중분류코드    소분류코드    중분류명      소분류명  상품분류 소비재분류
0      A      1    101  A010101    일용잡화      위생세제  생활잡화   편의품
1      A      1    101  A010102    일용잡화       휴지류  생활잡화   편의품
2      A      1    101  A010103    일용잡화      뷰티상품  생활잡화   편의품
3      A      1    101  A010104    일용잡화      일용잡화  생활잡화   편의품
4      A      1    101  A010105    일용잡화      세트상품  생활잡화   편의품
...   ..    ...    ...      ...     ...       ...   ...   ...
4381   D      8    802  D080204  아이메이크업     아이섀도우   화장품   편의품
4382   D      8    802  D080205  아이메이크업    메이크업세트   화장품   편의품
4383   D      8    803  D080301   립메이크업  립스틱/립라이너   화장품   편의품
4384   D      8    803  D080302   립메이크업   립글로즈/틴트   화장품   편의품
4385   D      8    804  D080401  네일메이크업  일반네일/케어류   화장품   편의품

[4386 rows x 8 columns]

In [ ]:
a_col = a.loc[a['소비재분류']=='편의품']['소분류명'].values
a_col

In [3]:
q = pd.read_csv('./data/1번군집.csv',encoding='cp949')
q = q.set_index('고객번호')
q

,14K,2단우산,3단우산,3분요리류,4대 B/D,5 ON THE GO,ACC Bloom (1F),ACC Bloom (3F),AK골프,ANDZ,...,휴대폰기타용품,휴모니아,휴지류,휴지통,흑미,흑미류,흰다리새우,히터,히터기,힐앤토트
고객번호,,,,,,,,,,,,,,,,,,,,,
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
28,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
33,0.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
43,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19309,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
19320,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0,0.0
19327,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
19332,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
19333,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [8]:
q1 = pd.read_csv('./data/2번군집.csv',encoding='cp949')
q1 = q1.set_index('고객번호')
q1

,14K,2단우산,3단우산,3분요리류,4대 B/D,5 ON THE GO,ACC Bloom (1F),ACC Bloom (3F),AK골프,ANDZ,...,휴대폰기타용품,휴모니아,휴지류,휴지통,흑미,흑미류,흰다리새우,히터,히터기,힐앤토트
고객번호,,,,,,,,,,,,,,,,,,,,,
4,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
13,0.0,0.0,0.0,25.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
14,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
15,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19293,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
19301,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0
19310,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
19311,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
19322,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,5.0,1.0,0.0,0.0,0.0

In [9]:
q2 = pd.read_csv('./data/3번군집.csv',encoding='cp949')
q2 = q2.set_index('고객번호')
q2

,14K,2단우산,3단우산,3분요리류,4대 B/D,5 ON THE GO,ACC Bloom (1F),ACC Bloom (3F),AK골프,ANDZ,...,휴대폰기타용품,휴모니아,휴지류,휴지통,흑미,흑미류,흰다리새우,히터,히터기,힐앤토트
고객번호,,,,,,,,,,,,,,,,,,,,,
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
17,0.0,0.0,0.0,0.0,6.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
18,0.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
19,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19298,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
19304,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
19314,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
19325,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
19334,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0

In [12]:
q3 = pd.concat([q,q1])
q3

,14K,2단우산,3단우산,3분요리류,4대 B/D,5 ON THE GO,ACC Bloom (1F),ACC Bloom (3F),AK골프,ANDZ,...,휴대폰기타용품,휴모니아,휴지류,휴지통,흑미,흑미류,흰다리새우,히터,히터기,힐앤토트
고객번호,,,,,,,,,,,,,,,,,,,,,
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
28,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
33,0.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
43,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19293,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
19301,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0
19310,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
19311,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
19322,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,5.0,1.0,0.0,0.0,0.0

In [30]:
p = pd.concat([q2,q3])
p

,14K,2단우산,3단우산,3분요리류,4대 B/D,5 ON THE GO,ACC Bloom (1F),ACC Bloom (3F),AK골프,ANDZ,...,휴대폰기타용품,휴모니아,휴지류,휴지통,흑미,흑미류,흰다리새우,히터,히터기,힐앤토트
고객번호,,,,,,,,,,,,,,,,,,,,,
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
17,0.0,0.0,0.0,0.0,6.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
18,0.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
19,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19293,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
19301,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0
19310,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
19311,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
19322,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,5.0,1.0,0.0,0.0,0.0

In [59]:
p

,2단우산,3단우산,3분요리류,BB/파운데이션/컴팩트류,DIY소가구,DIY완구,DVD,Digital Accessory,FAST FOOD,GAP감귤,...,훼이셜스킨케어,훼이셜클렌저,훼이셜클린져,휴대폰기타용품,휴모니아,휴지류,휴지통,흑미,흑미류,흰다리새우
고객번호,,,,,,,,,,,,,,,,,,,,,
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
17,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
18,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
19,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19293,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
19301,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0
19310,0.0,0.0,0.0,7.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
19311,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
19322,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,1.0

In [31]:
a_col = a.loc[a['소비재분류']=='편의품']['소분류명'].values
a_col

array(['위생세제', '휴지류', '뷰티상품', ..., '립스틱/립라이너', '립글로즈/틴트', '일반네일/케어류'],
      dtype=object)

In [33]:
p_col = np.array(p.columns.to_list()) 
p_col

array(['14K', '2단우산', '3단우산', ..., '히터', '히터기', '힐앤토트'], dtype='<U18')

In [34]:
ili = np.where(np.isin(p_col, a_col)==True)[0]
ili

array([   1,    2,    3, ..., 3514, 3515, 3516], dtype=int64)

In [35]:
p_col[ili]

array(['2단우산', '3단우산', '3분요리류', ..., '흑미', '흑미류', '흰다리새우'], dtype='<U18')

In [36]:
p = p[p_col[ili]]
p

,2단우산,3단우산,3분요리류,BB/파운데이션/컴팩트류,DIY소가구,DIY완구,DVD,Digital Accessory,FAST FOOD,GAP감귤,...,훼이셜스킨케어,훼이셜클렌저,훼이셜클린져,휴대폰기타용품,휴모니아,휴지류,휴지통,흑미,흑미류,흰다리새우
고객번호,,,,,,,,,,,,,,,,,,,,,
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
17,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
18,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
19,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19293,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
19301,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0
19310,0.0,0.0,0.0,7.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
19311,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
19322,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,1.0

In [37]:
p_T = p.transpose()
p_T.head()

고객번호,1,2,17,18,19,26,36,39,46,47,...,19274,19276,19278,19286,19289,19293,19301,19310,19311,19322
2단우산,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3단우산,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3분요리류,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,3.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0
BB/파운데이션/컴팩트류,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,7.0,0.0,0.0
DIY소가구,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [38]:
# 코사인 유사도를 구하는 코드 
from sklearn.metrics.pairwise import cosine_similarity

item_sim = cosine_similarity(p_T,p_T)
# 코사인 유사도 만든 행렬을 데이터프레임으로 변환 
item_sim_df = pd.DataFrame(data=item_sim, index = p.columns,
                          columns=p.columns)
print(item_sim_df.shape)
item_sim_df.head(3)

(2214, 2214)

,2단우산,3단우산,3분요리류,BB/파운데이션/컴팩트류,DIY소가구,DIY완구,DVD,Digital Accessory,FAST FOOD,GAP감귤,...,훼이셜스킨케어,훼이셜클렌저,훼이셜클린져,휴대폰기타용품,휴모니아,휴지류,휴지통,흑미,흑미류,흰다리새우
2단우산,1.00000,0.081210,0.008560,0.000000,0.000000,0.000000,0.000000,0.000000,0.002746,0.0,...,0.011116,0.020814,0.000000,0.0,0.0,0.007197,0.018820,0.061815,0.014929,0.014576
3단우산,0.08121,1.000000,0.012082,0.012835,0.000000,0.000000,0.000000,0.000000,0.002145,0.0,...,0.014993,0.009604,0.000000,0.0,0.0,0.000000,0.023881,0.071625,0.016515,0.012805
3분요리류,0.00856,0.012082,1.000000,0.014011,0.041793,0.000868,0.044323,0.046752,0.072858,0.0,...,0.235124,0.218762,0.043974,0.0,0.0,0.011847,0.145991,0.012965,0.172528,0.200946

In [39]:
# 예시적으로 기호품등급에 유사도가 높은 상위 6개 추출 
item_sim_df["2단우산"].sort_values(ascending=False)[1:6]

국산돼지앞다리        0.135238
일반계란           0.129347
장우산            0.119523
섬유유연제/향기지속제    0.117255
삼계탕용닭          0.117032
Name: 2단우산, dtype: float64

In [40]:
# 코사인유사도 내적곱한값을 코사인 유사도 절대값의 합으로 나눈 거(정규화를위해서)
import numpy as np
def predict_p(p_arr, item_sim_arr):
    p_pred = p_arr.dot(item_sim_arr)/np.array([np.abs(item_sim_arr).sum(axis=1)])
    return p_pred

In [41]:
# 개인별 상품 예측 
p_pred = predict_p(p.values, item_sim_df.values)
p_pred_matrix = pd.DataFrame(data=p_pred, index = p.index,\
                            columns = p.columns)
p_pred_matrix

C:\Users\dlwog\AppData\Local\Temp/ipykernel_14772/674637514.py:4: RuntimeWarning: invalid value encountered in true_divide
  p_pred = p_arr.dot(item_sim_arr)/np.array([np.abs(item_sim_arr).sum(axis=1)])

,2단우산,3단우산,3분요리류,BB/파운데이션/컴팩트류,DIY소가구,DIY완구,DVD,Digital Accessory,FAST FOOD,GAP감귤,...,훼이셜스킨케어,훼이셜클렌저,훼이셜클린져,휴대폰기타용품,휴모니아,휴지류,휴지통,흑미,흑미류,흰다리새우
고객번호,,,,,,,,,,,,,,,,,,,,,
1,0.388657,0.321266,0.223954,0.366902,0.284611,0.236131,0.240290,0.167214,0.214299,NaN,...,0.222846,0.226959,0.250880,0.284237,NaN,2.665833,0.327234,0.311130,0.215414,0.224983
2,0.356602,0.217149,0.188225,0.570235,0.298989,0.048069,0.233304,0.124053,0.189055,NaN,...,0.187915,0.198026,0.243138,0.166504,NaN,4.582130,0.367877,0.160137,0.173515,0.194684
17,0.450673,0.422002,0.268304,0.321384,0.315341,0.388120,0.274495,0.219554,0.284024,NaN,...,0.270320,0.274498,0.292685,0.336869,NaN,2.177968,0.345927,0.420774,0.269802,0.262817
18,0.252740,0.185501,0.125613,0.265878,0.185864,0.121536,0.153614,0.084337,0.125094,NaN,...,0.129435,0.132598,0.148950,0.114971,NaN,2.407589,0.218576,0.200262,0.123793,0.129818
19,0.205659,0.099068,0.093432,0.319637,0.156359,0.011116,0.125406,0.072787,0.113325,NaN,...,0.098668,0.104162,0.130142,0.222545,NaN,2.645697,0.202992,0.062640,0.091413,0.109628
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19293,0.658783,0.636783,1.183529,0.446414,0.923316,0.536020,0.982864,1.059626,1.055388,NaN,...,1.123106,1.097801,0.916139,0.859984,NaN,0.583796,0.990224,0.616548,1.176458,1.100571
19301,0.891244,0.868069,1.499054,0.531532,1.239873,0.829740,1.347186,1.330449,1.415315,NaN,...,1.446928,1.408457,1.234163,1.331636,NaN,0.745196,1.292113,0.840818,1.506917,1.493556
19310,0.116764,0.123847,0.053677,0.770259,0.071073,0.080228,0.068337,0.050454,0.054294,NaN,...,0.054522,0.053976,0.053869,0.180217,NaN,0.427209,0.074048,0.113281,0.048776,0.050969
19311,1.424320,1.413567,2.460620,0.884793,1.826012,1.142313,1.898507,2.143973,2.007880,NaN,...,2.236389,2.127437,1.903600,1.400618,NaN,1.096608,1.889881,1.343619,2.320550,2.169522
19322,0.737857,0.750436,0.992569,0.415861,0.895629,0.848008,0.819474,0.910467,0.921816,NaN,...,0.986109,0.965027,0.879712,1.066709,NaN,0.624065,0.907094,0.770943,1.085519,1.006628

In [42]:
from sklearn.metrics import mean_squared_error

# mse =실제와 예측 점수차이 비교 
def get_mse(pred, actual):
    pred = pred[actual.nonzero()].flatten()
    actual = actual[actual.nonzero()].flatten()
    return mean_squared_error(pred,actual)

print('아이템 기반 모든 최근접 이웃 MSE:', get_mse(p_pred, p.values))

아이템 기반 모든 최근접 이웃 MSE: 105.11155719034697

In [43]:
def predict_p_topsim(p_arr, item_sim_arr, n =20):
    pred = np.zeros(p_arr.shape)
    
    for col in range(p_arr.shape[1]):
        top_n_items = [np.argsort(item_sim_arr[:,col])[:-n-1:-1]]
        for row in range(p_arr.shape[0]):
            pred[row, col] = item_sim_arr[col,:][top_n_items].dot(p_arr[row,:][top_n_items].T)
            
            pred[row, col] /= np.sum(np.abs(item_sim_arr[col,:][top_n_items]))
            
    return pred

In [44]:

p_pred = predict_p_topsim(p.values, item_sim_df.values, n=20)
print('아이템 기반 최근접 TOP-20 이웃 MSE:', get_mse(p_pred, p.values))

p_pred_matrix = pd.DataFrame(data=p_pred, index = p.index, columns=p.columns)

C:\Users\dlwog\AppData\Local\Temp/ipykernel_14772/4050495572.py:7: FutureWarning: Using a non-tuple sequence for multidimensional indexing is deprecated; use `arr[tuple(seq)]` instead of `arr[seq]`. In the future this will be interpreted as an array index, `arr[np.array(seq)]`, which will result either in an error or a different result.
  pred[row, col] = item_sim_arr[col,:][top_n_items].dot(p_arr[row,:][top_n_items].T)
C:\Users\dlwog\AppData\Local\Temp/ipykernel_14772/4050495572.py:9: FutureWarning: Using a non-tuple sequence for multidimensional indexing is deprecated; use `arr[tuple(seq)]` instead of `arr[seq]`. In the future this will be interpreted as an array index, `arr[np.array(seq)]`, which will result either in an error or a different result.
  pred[row, col] /= np.sum(np.abs(item_sim_arr[col,:][top_n_items]))
C:\Users\dlwog\AppData\Local\Temp/ipykernel_14772/4050495572.py:9: RuntimeWarning: invalid value encountered in double_scalars
  pred[row, col] /= np.sum(np.abs(item_sim_arr[col,:][top_n_items]))

아이템 기반 최근접 TOP-20 이웃 MSE: 83.03918530446197

In [22]:
p_pred_matrix

,14K,2단우산,3단우산,3분요리류,4대 B/D,5 ON THE GO,ACC Bloom (1F),ACC Bloom (3F),AK골프,ANDZ,...,휴대폰기타용품,휴모니아,휴지류,휴지통,흑미,흑미류,흰다리새우,히터,히터기,힐앤토트
고객번호,,,,,,,,,,,,,,,,,,,,,
1,5.326651,0.542946,0.370824,0.237903,2.273146,0.115053,0.048135,4.127310,0.909361,1.033831,...,0.029002,NaN,10.918997,0.258673,0.416061,0.178296,0.091989,0.029235,NaN,3.074605
2,3.963465,0.000000,0.000000,0.093253,3.245725,0.137607,0.000000,3.122697,0.795071,0.382002,...,0.000000,NaN,18.213957,0.167313,0.000000,0.000000,0.000000,0.000000,NaN,0.144359
17,1.623590,0.830003,0.746472,0.380405,2.918271,0.120799,1.195561,1.110000,0.327340,0.147172,...,0.066590,NaN,7.173082,0.472422,0.937153,0.543646,0.353574,0.094611,NaN,0.136034
18,3.688451,0.174940,0.149799,0.150138,4.788265,0.000000,0.000000,2.809311,0.478029,1.138482,...,0.000000,NaN,10.959168,0.042470,0.311380,0.089119,0.000000,0.040840,NaN,0.000000
19,1.391334,0.000000,0.000000,0.000000,0.792460,0.000000,0.000000,0.994575,0.105776,0.058787,...,0.000000,NaN,7.704297,0.000000,0.000000,0.043260,0.000000,0.000000,NaN,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19293,0.045074,0.419558,0.588615,6.876915,0.000000,0.000000,0.000000,0.036510,0.000000,0.000000,...,0.193718,NaN,0.000000,1.971879,0.463860,4.287047,3.205101,0.035095,NaN,0.000000
19301,0.000000,0.206929,0.691280,5.005299,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.290019,NaN,0.000000,3.213185,1.073826,4.280717,5.511350,0.200190,NaN,0.000000
19310,2.022387,0.109244,0.052991,0.043547,1.041948,0.060005,0.000000,0.573462,0.183136,1.299203,...,0.000000,NaN,0.755253,0.000000,0.080883,0.000000,0.000000,0.000000,NaN,0.781928
19311,0.083398,1.120899,1.878129,13.816899,0.064203,0.000000,0.000000,0.036052,0.000000,0.059400,...,0.122439,NaN,0.032265,2.237386,1.012205,9.065942,5.141145,0.360095,NaN,0.000000
19322,0.000000,0.069840,0.218489,2.536106,0.449014,0.000000,0.000000,0.000000,0.000000,0.389085,...,0.226388,NaN,0.000000,3.026184,0.106737,3.877121,2.099469,0.029235,NaN,0.000000

In [45]:
user_p_id =p.loc[12,:]
user_p_id[user_p_id > 0].sort_values(ascending=False)[:10]

생수        70.0
닭부분육      36.0
녹차        23.0
청과        19.0
유기농채소     18.0
일반빵       16.0
노지감귤      15.0
채소        12.0
수입유지      10.0
고당도바나나     9.0
Name: 12, dtype: float64

In [46]:

def get_notbuy_product(p,고객번호):
    user_p = p.loc[고객번호,:]

    already_buy = user_p[user_p > 0].index.tolist()

    p3_list = p.columns.tolist()

    notbuy_list = [pro for pro in p3_list if pro not in already_buy]
    
    return notbuy_list

In [47]:
def recomm_pr_by_userid(pred_df,고객번호, notbuy_list, top_n=20):
    recomm_pr = pred_df.loc[고객번호,notbuy_list].sort_values(ascending=False)[:top_n]
    return recomm_pr

notbuy_list = get_notbuy_product(p,12)

recomm_pr = recomm_pr_by_userid(p_pred_matrix, 12, notbuy_list, top_n=20)

recomm_pr = pd.DataFrame(data=recomm_pr.values, index = recomm_pr.index,
                            columns=['pred_score'])
recomm_pr

          pred_score
탄산수         3.704193
영양바         3.369269
커피음료        3.032946
우육          3.017317
건과          2.958755
유제품         2.929320
전문베이커리      2.896221
뉴질랜드골드키위    2.866431
얼음          2.832733
칵테일소주       2.832668
계육          2.792699
일용잡화        2.778843
떡           2.762758
돈육          2.757279
위생세제        2.755273
멸치류         2.743562
김류          2.733671
일반가공식품      2.733107
안주류         2.730848
친환경올가       2.715946

In [52]:
recomm_pr["소비재분류"] = '편의품'
recomm_pr

          pred_score 소비재분류
탄산수         3.704193   편의품
영양바         3.369269   편의품
커피음료        3.032946   편의품
우육          3.017317   편의품
건과          2.958755   편의품
유제품         2.929320   편의품
전문베이커리      2.896221   편의품
뉴질랜드골드키위    2.866431   편의품
얼음          2.832733   편의품
칵테일소주       2.832668   편의품
계육          2.792699   편의품
일용잡화        2.778843   편의품
떡           2.762758   편의품
돈육          2.757279   편의품
위생세제        2.755273   편의품
멸치류         2.743562   편의품
김류          2.733671   편의품
일반가공식품      2.733107   편의품
안주류         2.730848   편의품
친환경올가       2.715946   편의품

In [48]:
#응용구현 1 고객번호 검색
s = int(input('고객번호를 입력하세요:'))
notbuy_list = get_notbuy_product(p,s)
recomm_pr = recomm_pr_by_userid(p_pred_matrix,s, notbuy_list, top_n=20)
recomm_pr = pd.DataFrame(data=recomm_pr.values, index = recomm_pr.index,columns=['추천점수'])
recomm_pr[:10]

고객번호를 입력하세요:4

             추천점수
음료      14.119666
제과제빵    13.196359
전문베이커리  12.983965
양념육     12.886040
안주류     12.027695
건생선     11.905457
규격젓갈    11.833149
냉동식품    11.484702
단기행사    11.321817
수산단기행사  11.288940

In [49]:
#응용구현 2 맞춤할인 검색
def recomm_pr_by_userid(pred_df,고객번호, notbuy_list, top_n=20):
    recomm_pr = pred_df.loc[고객번호,notbuy_list].sort_values(ascending=False)[:top_n]
    return recomm_pr

notbuy_list = get_notbuy_product(p,12)

recomm_pr = recomm_pr_by_userid(p_pred_matrix, 12, notbuy_list, top_n=20)

recomm_pr = pd.DataFrame(data=recomm_pr.values, index = recomm_pr.index,
                            columns=['pred_score'])
recomm_pr

          pred_score
탄산수         3.704193
영양바         3.369269
커피음료        3.032946
우육          3.017317
건과          2.958755
유제품         2.929320
전문베이커리      2.896221
뉴질랜드골드키위    2.866431
얼음          2.832733
칵테일소주       2.832668
계육          2.792699
일용잡화        2.778843
떡           2.762758
돈육          2.757279
위생세제        2.755273
멸치류         2.743562
김류          2.733671
일반가공식품      2.733107
안주류         2.730848
친환경올가       2.715946

In [50]:
p_T[['할인여부','할인율']]=0
sale=p_T.iloc[:,-2:]
sale.reset_index(inplace=True)
# p_T
aa=sale.sample(frac=0.2)
aa['할인여부']=1

df=pd.merge(sale,aa, on='index',how='left')
df=df[['index','할인여부_y','할인율_y']]
df.fillna(0,inplace=True)
# df['할인여부_y'].sum()
df.loc[df['할인여부_y']==1,'할인율_y']=np.random.randint(10,40,443).astype(str)
df.loc[df['할인여부_y']==1,'할인율_y']=df.loc[df['할인여부_y']==1,'할인율_y']+'%'
df[df['할인여부_y']==1]
df

고객번호          index  할인여부_y 할인율_y
0              2단우산     0.0   0.0
1              3단우산     0.0   0.0
2             3분요리류     0.0   0.0
3     BB/파운데이션/컴팩트류     0.0   0.0
4            DIY소가구     0.0   0.0
...             ...     ...   ...
2209            휴지류     0.0   0.0
2210            휴지통     0.0   0.0
2211             흑미     0.0   0.0
2212            흑미류     0.0   0.0
2213          흰다리새우     0.0   0.0

[2214 rows x 3 columns]

In [51]:
res=pd.merge(recomm_pr.reset_index(),df[df['할인여부_y']==1], on='index',how='left').dropna()
res.columns=['품목명','평가점수','할인여부','할인율']
res

     품목명      평가점수  할인여부  할인율
2   커피음료  3.032946   1.0  39%
4     건과  2.958755   1.0  35%
11  일용잡화  2.778843   1.0  36%
13    돈육  2.757279   1.0  38%

In [54]:
res['대분류'] = '편의품'
res

     품목명      평가점수  할인여부  할인율 소비재분류  대분류
2   커피음료  3.032946   1.0  39%   편의품  편의품
4     건과  2.958755   1.0  35%   편의품  편의품
11  일용잡화  2.778843   1.0  36%   편의품  편의품
13    돈육  2.757279   1.0  38%   편의품  편의품

In [58]:
res = res.drop(['소비재분류'],axis=1)
res

     품목명      평가점수  할인여부  할인율  대분류
2   커피음료  3.032946   1.0  39%  편의품
4     건과  2.958755   1.0  35%  편의품
11  일용잡화  2.778843   1.0  36%  편의품
13    돈육  2.757279   1.0  38%  편의품